docs/eIzvjestavanjeSchema/eIzvjestavanjeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.porezna-uprava.gov.hr/fin/2024/types/eIzvjestavanje"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
            xmlns:tns="http://www.porezna-uprava.gov.hr/fin/2024/types/eIzvjestavanje"
            attributeFormDefault="qualified"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

    <!--
    ==========================================================================
    XSD Change Log
    ==========================================================================
    # Date        Description
    ==========================================================================
    2026-01-17    - uskladjivanje polja
    ==========================================================================
    -->

    <!--
        Evidentiranje naplate
    -->

    <xsd:element name="EvidentirajNaplatuZahtjev">
        <xsd:annotation>
            <xsd:documentation>Zahtjev za evidenciju naplate eRačuna.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Zaglavlje" type="tns:Zaglavlje">
                    <xsd:annotation>
                        <xsd:documentation>Zaglavlje zahtjeva.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Naplata" type="tns:Naplata" maxOccurs="100">
                    <xsd:annotation>
                        <xsd:documentation>Podaci o jednoj ili više naplata.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis zahtjeva, obavezan prilikom zaprimanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="EvidentirajNaplatuOdgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                    <xsd:annotation>
                        <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Odgovor" type="tns:Odgovor">
                    <xsd:annotation>
                        <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis odgovora.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--
        Evidentiranje odbijanja
    -->

    <xsd:element name="EvidentirajOdbijanjeZahtjev">
        <xsd:annotation>
            <xsd:documentation>Zahtjev za evidenciju odbijanja eRačuna.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Zaglavlje" type="tns:Zaglavlje">
                    <xsd:annotation>
                        <xsd:documentation>Zaglavlje zahtjeva.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Odbijanje" type="tns:Odbijanje" maxOccurs="100">
                    <xsd:annotation>
                        <xsd:documentation>Podaci o jednom ili više odbijanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis zahtjeva, obavezan prilikom zaprimanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="EvidentirajOdbijanjeOdgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                    <xsd:annotation>
                        <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Odgovor" type="tns:Odgovor">
                    <xsd:annotation>
                        <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis odgovora.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--
        Naplata kompleksni tipovi podataka
    -->

    <xsd:complexType name="Naplata">
        <xsd:annotation>
            <xsd:documentation>Podaci o naplati eRačuna</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="brojDokumenta" type="tns:tekst100">
                <xsd:annotation>
                    <xsd:documentation>Broj dokumenta eRačuna, dio identifikatora eRačuna (BT-1 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIzdavanja" type="tns:datumIzdavanja">
                <xsd:annotation>
                    <xsd:documentation>Datum izdavanja eRačuna, dio identifikatora eRačuna (BT-2 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBrojIzdavatelja" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj izdavatelja, dio identifikatora eRačuna (BT-31 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBrojPrimatelja" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj primatelja.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumNaplate" type="tns:datum">
                <xsd:annotation>
                    <xsd:documentation>Datum naplate eRačuna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="naplaceniIznos" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Iznos koji je naplaćen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nacinPlacanja" type="tns:nacinPlacanja">
                <xsd:annotation>
                    <xsd:documentation>Šifra načina plaćanja (T – Transakcijski račun, O – Obračunsko plaćanje, Z – Ostalo).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        Odbijanje kompleksni tipovi podataka
    -->
    
    <xsd:complexType name="Odbijanje">
        <xsd:annotation>
            <xsd:documentation>Element predstavlja podatke za odbijanja eRačuna.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="brojDokumenta" type="tns:tekst100">
                <xsd:annotation>
                    <xsd:documentation>Broj dokumenta eRačuna, dio identifikatora eRačuna (BT-1 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIzdavanja" type="tns:datumIzdavanja">
                <xsd:annotation>
                    <xsd:documentation>Datum izdavanja eRačuna, dio identifikatora eRačuna (BT-2 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBrojIzdavatelja" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj izdavatelja, dio identifikatora eRačuna (BT-31 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBrojPrimatelja" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj primatelja.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumOdbijanja" type="tns:datum">
                <xsd:annotation>
                    <xsd:documentation>Datum odbijanja eRačuna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vrstaRazlogaOdbijanja" type="tns:razlogOdbijanja">
                <xsd:annotation>
                    <xsd:documentation>Šifra vrste razloga odbijanja eRačuna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="razlogOdbijanja" type="tns:tekst1024">
                <xsd:annotation>
                    <xsd:documentation>Razlog odbijanja eRačuna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        Evidentiranje isporuke za koju nije izdan eRačun
    -->
    <xsd:element name="EvidentirajIsporukuZaKojuNijeIzdanERacunZahtjev">
        <xsd:annotation>
            <xsd:documentation>Zahtjev za evidenciju računa za koji nije izdan eRačun.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Zaglavlje" type="tns:ZaglavljeIsporuka">
                    <xsd:annotation>
                        <xsd:documentation>Zaglavlje zahtjeva.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Racun" type="tns:Racun" maxOccurs="100">
                    <xsd:annotation>
                        <xsd:documentation>Podaci o jednom ili više računa.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis zahtjeva, obavezan prilikom zaprimanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="EvidentirajIsporukuZaKojuNijeIzdanERacunOdgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev za evidenciju eRačuna.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                    <xsd:annotation>
                        <xsd:documentation>Datum i vrijeme slanja odgovora</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Odgovor" type="tns:Odgovor">
                    <xsd:annotation>
                        <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis odgovora.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--
        Račun kompleksni tipovi podataka
    -->

    <xsd:complexType name="ZaglavljeIsporuka">
        <xsd:annotation>
            <xsd:documentation>Zaglavlje zahtjeva</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                <xsd:annotation>
                    <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vrstaRacuna" type="xsd:string" fixed="IR">
                <xsd:annotation>
                    <xsd:documentation>Vrsta računa, IR.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Racun">
        <xsd:annotation>
            <xsd:documentation>Podaci o računu.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="brojDokumenta" type="tns:tekst100">
                <xsd:annotation>
                    <xsd:documentation>Broj dokumenta računa, dio identifikatora eRačuna (BT-1 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIzdavanja" type="tns:datumIzdavanja">
                <xsd:annotation>
                    <xsd:documentation>Datum izdavanja računa, dio identifikatora eRačuna (BT-2 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vrstaDokumenta" type="tns:vrstaDokumenta">
                <xsd:annotation>
                    <xsd:documentation>Šifra vrste dokumenta računa, dio identifikatora eRačuna (BT-3 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valutaRacuna" type="tns:valuta">
                <xsd:annotation>
                    <xsd:documentation>Šifra valute po ISO4217 u kojoj se iskazuju svi iznosi na računu, osim za ukupni iznos PDV-a u računovodstvenoj valuti (BT-5 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumDospijecaPlacanja" type="tns:datum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum kada plaćanje dospijeva na naplatu (BT-9 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vrstaPoslovnogProcesa" type="tns:tekst200">
                <xsd:annotation>
                    <xsd:documentation>Identifikator poslovnog procesa u kojem se obavlja transakcija, kako bi se kupcu omogućila obrada na odgovarajući način (BT-23 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referencaNaUgovor" type="tns:tekst1024" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifikacija ugovora koja mora biti jedinstvena u kontekstu specifičnog trgovinskog odnosa i za određeno razdoblje (BT-12 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIsporuke" type="tns:datum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum na koji se obavlja ili dovršava isporuke robe ili usluga (BT-72 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PrethodniRacun" type="tns:PrethodniRacun" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Informacije o jednom ili više prethodnih računa (BG-3 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Izdavatelj" type="tns:Izdavatelj">
                <xsd:annotation>
                    <xsd:documentation>Informacije o izdavatelju (BG-4 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Primatelj" type="tns:Primatelj">
                <xsd:annotation>
                    <xsd:documentation>Informacije o primatelju (BG-7 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PrijenosSredstava" type="tns:PrijenosSredstava" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Informacije o virmanskim plaćanjima (BG-17 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DokumentUkupanIznos" type="tns:DokumentUkupanIznos">
                <xsd:annotation>
                    <xsd:documentation>Informacije o ukupnim novčanim iznosima za račun (BG-22 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RaspodjelaPdv" type="tns:RaspodjelaPdv" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Informacije o rekapitulaciji PDV-a po različitim kategorijama, stopama i razlozima izuzeća (BG-23 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DokumentPopust" type="tns:DokumentPopust" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Skupina poslovnih pojmova koji nude informacije o popustima (BG-20 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DokumentTrosak" type="tns:DokumentTrosak" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Skupina poslovnih pojmova koji pružaju informacije o troškovima i porezima osim PDV-a, primjenjivo na račun u cjelini (BG-21 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StavkaRacuna" type="tns:StavkaRacuna" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Informacije o pojedinačnim stavkama računa.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indikatorKopije" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Indikator kopije računa koji pokazuje radi li se o kopiji računa (true) ili ne (false) .</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PrethodniRacun">
        <xsd:sequence>
            <xsd:element name="brojDokumenta" type="tns:tekst100">
                <xsd:annotation>
                    <xsd:documentation>Broj dokumenta istog izdavatelja na koji se račun referencira (BT-25 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIzdavanja" type="tns:datum">
                <xsd:annotation>
                    <xsd:documentation>Datum izdavanja prethodnog računa na koji se novi dokument referencira (BT-26 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Izdavatelj">
        <xsd:sequence>
            <xsd:element name="ime" type="tns:tekst1024">
                <xsd:annotation>
                    <xsd:documentation>Puno ime pod kojim je Izdavatelj registriran u nacionalnom registru pravnih osoba ili kao porezni obveznik ili na neki drugi način trguje kao osoba ili osobe (BT-27 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBroj" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj izdavatelja, dio identifikatora eRačuna (BT-31 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibOperatera" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB operatera sukladno Zakonu o fiskalizaciji (HR-BT-5 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Primatelj">
        <xsd:sequence>
            <xsd:element name="ime" type="tns:tekst1024">
                <xsd:annotation>
                    <xsd:documentation>Puno ime primatelja (BT-44 iz UBL2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBroj" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>Za porezne obveznike u RH je polje obavezno i izričito OIB (BT-48 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PrijenosSredstava">
        <xsd:sequence>
            <xsd:element name="identifikatorRacunaZaPlacanje" type="tns:tekst200">
                <xsd:annotation>
                    <xsd:documentation>Jedinstveni identifikator financijskog platnog računa, kod pružatelja platnih usluga, na koji se plaćanje treba izvršiti (BT-84 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazivRacunaZaPlacanje" type="tns:tekst500" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Naziv računa za plaćanje, kod pružatelja platnih usluga, na koji se plaćanje treba izvršiti (BT-85 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifikatorPruzateljaPlatnihUsluga" type="tns:tekst200" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifikator pružatelja platnih usluga, kod kojega se nalazi račun za plaćanje (BT-86 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DokumentUkupanIznos">
        <xsd:sequence>
            <xsd:element name="neto" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Zbroj svih neto iznosa stavki računa koji su navedene na računu (BT-106 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="popust" type="tns:decimal2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zbroj svih popusta na razini dokumenta na računu (BT-107 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="trosak" type="tns:decimal2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zbroj svih troškova na razini dokumenta na računu (BT-108 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iznosBezPdv" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupan iznos na računu bez PDV-a (BT-109 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pdv" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupni iznos PDVa za račun (BT-110 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iznosSPdv" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupni iznos računa s uključenim PDV-om (BT-112 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="placeniIznos" type="tns:decimal2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zbroj iznosa koji su plaćeni unaprijed (BT-113 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iznosKojiDospijevaZaPlacanje" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Nepodmireni iznos za koji se zahtijeva plaćanje (BT-115 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RaspodjelaPdv">
        <xsd:sequence>
            <xsd:element name="kategorijaPdv" type="tns:kategorijaPdv">
                <xsd:annotation>
                    <xsd:documentation>Šifra kategorije PDV-a po UNCL5305 (BT-118 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oporeziviIznos" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Zbroj svih oporezivih iznosa koji podliježu određenom kodu kategorije PDV-a i stopi kategorije PDV-a, ako je primjenjiva stopa kategorije PDV-a (BT-116 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iznosPoreza" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupni iznos PDV-a za pojedinu kategoriju PDV-a (BT-117 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stopa" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stopa PDV-a prikazana kao postotak koji se primjenjuje na relevantnu kategoriju PDV-a. Može biti bilo kakav broj, postotak (BT-119 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="razlogOslobodenja" type="tns:izuzecePdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Šifra razloga za izuzeće iznosa od PDV-a po VATEX, obavezno ako je kategorijaPdv jednaka AE ili tekstRazlogaOslobodenja postoji (BT-121 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tekstRazlogaOslobodenja" type="tns:tekst1024" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Tekst razloga za izuzeće od PDV-a, članak 226, stavke 11 do 15 Direktive 2006/112/EZ, obavezno ako je kategorijaPdv jednaka AE ili razlogOslobodenja postoji (BT-120 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hrOznakaKategorijaPdv" type="tns:hrKategorijaPdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Šifra Hrvatske kategorije PDV-a (HR-BT-22 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DokumentPopust">
        <xsd:sequence>
            <xsd:element name="iznosPopust" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Iznos popusta, bez PDV-a (BT-92 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kategorijaPdv" type="tns:kategorijaPdv">
                <xsd:annotation>
                    <xsd:documentation>Kodirana identifikacija kategorije PDV-a koja se primjenjuje na popust na razini dokumenta (BT-95 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stopaPdv" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stopa PDV-a prikazana kao postotak koji se primjenjuje na popust na razini dokumenta (BT-96 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tekstRazlogaPopusta" type="tns:tekst1024" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Razlog za popust na razini dokumenta izražen u obliku teksta (BT-97 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="razlogPopusta" type="tns:razlogPopusta" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Razlog za popust na razini dokumenta, izražen u obliku koda (BT-98 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DokumentTrosak">
        <xsd:sequence>
            <xsd:element name="iznosTrosak" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Iznos troška, bez PDV-a (BT-99 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kategorijaPdv" type="tns:kategorijaPdv">
                <xsd:annotation>
                    <xsd:documentation>Kodirana identifikacija kategorije PDV-a koja se primjenjuje na trošak na razini dokumenta (BT-102 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hrOznakaPorezneKategorije" type="tns:hrKategorijaPdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Podrška za stavke koje ne podliježu PDV-u (HR-BT-6 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stopaPdv" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stopa PDV-a prikazana kao postotak na koji se primjenjuje trošak na razini dokumenta (BT-103 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tekstRazlogaOslobodenjaPdv" type="tns:tekst1024" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Razlog oslobođenja od PDV-a izražen kao tekst (HR-BT-7 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="razlogOslobodenjaPdv" type="tns:izuzecePdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Razlog oslobođenja od PDV-a izražen kao kod (HR-BT-8 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StavkaRacuna">
        <xsd:sequence>
            <xsd:element name="kolicina" type="tns:decimal30i10">
                <xsd:annotation>
                    <xsd:documentation>Količina artikala (robe ili usluga) koje se obračunavaju na stavki računa (BT-129 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="jedinicaMjere" type="tns:jedinicaMjere">
                <xsd:annotation>
                    <xsd:documentation>Jedinica mjere koja se primjenjuje na količinu fakturiranu na računu (BT-130 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="neto" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupan iznos stavke računa, uključujući popuste i troškove na razini stavke kao i druge relevantne poreze (BT-131 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklNetoCijena" type="tns:decimal30i10">
                <xsd:annotation>
                    <xsd:documentation>Cijena artikla bez PDV-a, nakon oduzimanja popusta na cijenu artikla (BT-146 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklBrutoCijena" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Jedinična cijena bez PDV-a prije oduzimanja popusta na cijenu artikla (BT-148 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklOsnovnaKolicina" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Broj jedinica artikla na koji se primjenjuje cijena (BT-149 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklJedinicaMjereZaOsnovnuKolicinu" type="tns:jedinicaMjere" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Šifra jedinica mjere koja se primjenjuje na osnovnu količinu za cijenu artikla. Iste vrijednosti kao i kod Jedinica mjere (BT-150 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklKategorijaPdv" type="tns:kategorijaPdv">
                <xsd:annotation>
                    <xsd:documentation>Šifra kategorije PDV-a za fakturirani artikl po UNCL5305 (BT-151 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklStopaPdv" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stopa PDV-a prikazana u obliku postotka koji vrijedi za fakturirani artikl (BT-152 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklNaziv" type="tns:tekst1024">
                <xsd:annotation>
                    <xsd:documentation>Naziv artikla (BT-153 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklOpis" type="tns:tekst4096" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Opis artikla (BT-154 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklHrOznakaKategorijaPdv" type="tns:hrKategorijaPdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Podrška za stavke koje su oslobođene PDV-a ili ne podliježu PDV-u (oznaka porezne kategorije artikla) (HR-BT-12 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ArtiklIdentifikatorKlasifikacija" type="tns:ArtiklIdentifikatorKlasifikacija" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>CPA nomenklatura označava se oznakom 'CG'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ArtiklIdentifikatorKlasifikacija">
        <xsd:sequence>
            <xsd:element name="identifikatorKlasifikacije" type="tns:tekst10">
                <xsd:annotation>
                    <xsd:documentation>Vrijednost iz klasifikacije artikla po njegovom tipu ili prirodi (BT-158 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifikatorSheme" type="tns:klasifikacijaArtikla">
                <xsd:annotation>
                    <xsd:documentation>Kod za klasifikaciju artikla po njegovom tipu ili prirodi po UNTDID 7143.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verzijaSheme" type="tns:tekst10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Verzija sheme.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

<!--
    Zajednički kompleksni tipovi podataka
-->

    <xsd:complexType name="Zaglavlje">
        <xsd:annotation>
            <xsd:documentation>Zaglavlje zahtjeva</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                <xsd:annotation>
                    <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Odgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idZahtjeva" type="tns:uuid">
                <xsd:annotation>
                    <xsd:documentation>Jedinstveni identifikator primljenog zahtjeva</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prihvacenZahtjev" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Status prihvaćanja zahtjeva</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="greska" minOccurs="0">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Greška prilikom obrade zahtjeva</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element name="sifra" type="tns:greska">
                            <xsd:annotation>
                                <xsd:documentation>Šifra greške</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="redniBrojZapisa" type="xsd:integer">
                            <xsd:annotation>
                                <xsd:documentation>Redni broj zapisa na koji se odnosi greška.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="opis" type="tns:tekst1024">
                            <xsd:annotation>
                                <xsd:documentation>Opis greške</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

<!--
    Jednostavni tipovi podataka
-->

    <xsd:simpleType name="datumVrijemeSlanja">
        <xsd:annotation>
            <xsd:documentation>Datum i vrijeme s decimalama zapisano u formatu YYYY-MM-DDTHH:MM:SS.SSSS npr. 2024-04-01T08:04:02.1234</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{4}"/>
            <xsd:minInclusive value="2026-01-01T00:00:00.0000"/>
            <xsd:maxInclusive value="2100-01-01T00:00:00.0000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="datum">
        <xsd:annotation>
            <xsd:documentation>Datum zapisan u formatu YYYY-MM-DD</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date">
            <xsd:maxInclusive value="2100-01-01"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="datumIzdavanja">
        <xsd:annotation>
            <xsd:documentation>Datum zapisan u formatu YYYY-MM-DD</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date">
            <xsd:minInclusive value="2026-01-01"/>
            <xsd:maxInclusive value="2100-01-01"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="razlogOdbijanja">
        <xsd:annotation>
            <xsd:documentation>Šifrarnik razloga odbijanja.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="N"><xsd:annotation><xsd:documentation>Neusklađenost podataka koji ne utječu na obračun poreza.</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="U"><xsd:annotation><xsd:documentation>Neusklađenost podataka koji utječu na obračun poreza.</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="O"><xsd:annotation><xsd:documentation>Ostalo.</xsd:documentation></xsd:annotation></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="uuid">
        <xsd:annotation>
            <xsd:documentation>UUID kreiran po RFC4122 (https://tools.ietf.org/html/rfc4122).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="jedinicaMjere">
        <xsd:annotation>
            <xsd:documentation>Oznaka jedinica mjere iz EN16931 v13.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z0-9]{2,3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="izuzecePdv">
        <xsd:annotation>
            <xsd:documentation>Razlog za izuzeće iznosa od PDV-a po VATEX.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="VATEX-EU-79-C"/>
            <xsd:enumeration value="vatex-eu-79-c"/>
            <xsd:enumeration value="VATEX-EU-132"/>
            <xsd:enumeration value="vatex-eu-132"/>
            <xsd:enumeration value="VATEX-EU-132-1A"/>
            <xsd:enumeration value="vatex-eu-132-1a"/>
            <xsd:enumeration value="VATEX-EU-132-1B"/>
            <xsd:enumeration value="vatex-eu-132-1b"/>
            <xsd:enumeration value="VATEX-EU-132-1C"/>
            <xsd:enumeration value="vatex-eu-132-1c"/>
            <xsd:enumeration value="VATEX-EU-132-1D"/>
            <xsd:enumeration value="vatex-eu-132-1d"/>
            <xsd:enumeration value="VATEX-EU-132-1E"/>
            <xsd:enumeration value="vatex-eu-132-1e"/>
            <xsd:enumeration value="VATEX-EU-132-1F"/>
            <xsd:enumeration value="vatex-eu-132-1f"/>
            <xsd:enumeration value="VATEX-EU-132-1G"/>
            <xsd:enumeration value="vatex-eu-132-1g"/>
            <xsd:enumeration value="VATEX-EU-132-1H"/>
            <xsd:enumeration value="vatex-eu-132-1h"/>
            <xsd:enumeration value="VATEX-EU-132-1I"/>
            <xsd:enumeration value="vatex-eu-132-1i"/>
            <xsd:enumeration value="VATEX-EU-132-1J"/>
            <xsd:enumeration value="vatex-eu-132-1j"/>
            <xsd:enumeration value="VATEX-EU-132-1K"/>
            <xsd:enumeration value="vatex-eu-132-1k"/>
            <xsd:enumeration value="VATEX-EU-132-1L"/>
            <xsd:enumeration value="vatex-eu-132-1l"/>
            <xsd:enumeration value="VATEX-EU-132-1M"/>
            <xsd:enumeration value="vatex-eu-132-1m"/>
            <xsd:enumeration value="VATEX-EU-132-1N"/>
            <xsd:enumeration value="vatex-eu-132-1n"/>
            <xsd:enumeration value="VATEX-EU-132-1O"/>
            <xsd:enumeration value="vatex-eu-132-1o"/>
            <xsd:enumeration value="VATEX-EU-132-1P"/>
            <xsd:enumeration value="vatex-eu-132-1p"/>
            <xsd:enumeration value="VATEX-EU-132-1Q"/>
            <xsd:enumeration value="vatex-eu-132-1q"/>
            <xsd:enumeration value="VATEX-EU-143"/>
            <xsd:enumeration value="vatex-eu-143"/>
            <xsd:enumeration value="VATEX-EU-143-1A"/>
            <xsd:enumeration value="vatex-eu-143-1a"/>
            <xsd:enumeration value="VATEX-EU-143-1B"/>
            <xsd:enumeration value="vatex-eu-143-1b"/>
            <xsd:enumeration value="VATEX-EU-143-1C"/>
            <xsd:enumeration value="vatex-eu-143-1c"/>
            <xsd:enumeration value="VATEX-EU-143-1D"/>
            <xsd:enumeration value="vatex-eu-143-1d"/>
            <xsd:enumeration value="VATEX-EU-143-1E"/>
            <xsd:enumeration value="vatex-eu-143-1e"/>
            <xsd:enumeration value="VATEX-EU-143-1F"/>
            <xsd:enumeration value="vatex-eu-143-1f"/>
            <xsd:enumeration value="VATEX-EU-143-1FA"/>
            <xsd:enumeration value="vatex-eu-143-1fa"/>
            <xsd:enumeration value="VATEX-EU-143-1G"/>
            <xsd:enumeration value="vatex-eu-143-1g"/>
            <xsd:enumeration value="VATEX-EU-143-1H"/>
            <xsd:enumeration value="vatex-eu-143-1h"/>
            <xsd:enumeration value="VATEX-EU-143-1I"/>
            <xsd:enumeration value="vatex-eu-143-1i"/>
            <xsd:enumeration value="VATEX-EU-143-1J"/>
            <xsd:enumeration value="vatex-eu-143-1j"/>
            <xsd:enumeration value="VATEX-EU-143-1K"/>
            <xsd:enumeration value="vatex-eu-143-1k"/>
            <xsd:enumeration value="VATEX-EU-143-1L"/>
            <xsd:enumeration value="vatex-eu-143-1l"/>
            <xsd:enumeration value="VATEX-EU-148"/>
            <xsd:enumeration value="vatex-eu-148"/>
            <xsd:enumeration value="VATEX-EU-148-A"/>
            <xsd:enumeration value="vatex-eu-148-a"/>
            <xsd:enumeration value="VATEX-EU-148-B"/>
            <xsd:enumeration value="vatex-eu-148-b"/>
            <xsd:enumeration value="VATEX-EU-148-C"/>
            <xsd:enumeration value="vatex-eu-148-c"/>
            <xsd:enumeration value="VATEX-EU-148-D"/>
            <xsd:enumeration value="vatex-eu-148-d"/>
            <xsd:enumeration value="VATEX-EU-148-E"/>
            <xsd:enumeration value="vatex-eu-148-e"/>
            <xsd:enumeration value="VATEX-EU-148-F"/>
            <xsd:enumeration value="vatex-eu-148-f"/>
            <xsd:enumeration value="VATEX-EU-148-G"/>
            <xsd:enumeration value="vatex-eu-148-g"/>
            <xsd:enumeration value="VATEX-EU-151"/>
            <xsd:enumeration value="vatex-eu-151"/>
            <xsd:enumeration value="VATEX-EU-151-1A"/>
            <xsd:enumeration value="vatex-eu-151-1a"/>
            <xsd:enumeration value="VATEX-EU-151-1AA"/>
            <xsd:enumeration value="vatex-eu-151-1aa"/>
            <xsd:enumeration value="VATEX-EU-151-1B"/>
            <xsd:enumeration value="vatex-eu-151-1b"/>
            <xsd:enumeration value="VATEX-EU-151-1C"/>
            <xsd:enumeration value="vatex-eu-151-1c"/>
            <xsd:enumeration value="VATEX-EU-151-1D"/>
            <xsd:enumeration value="vatex-eu-151-1d"/>
            <xsd:enumeration value="VATEX-EU-151-1E"/>
            <xsd:enumeration value="vatex-eu-151-1e"/>
            <xsd:enumeration value="VATEX-EU-309"/>
            <xsd:enumeration value="vatex-eu-309"/>
            <xsd:enumeration value="VATEX-EU-AE"/>
            <xsd:enumeration value="vatex-eu-ae"/>
            <xsd:enumeration value="VATEX-EU-D"/>
            <xsd:enumeration value="vatex-eu-d"/>
            <xsd:enumeration value="VATEX-EU-F"/>
            <xsd:enumeration value="vatex-eu-f"/>
            <xsd:enumeration value="VATEX-EU-G"/>
            <xsd:enumeration value="vatex-eu-g"/>
            <xsd:enumeration value="VATEX-EU-I"/>
            <xsd:enumeration value="vatex-eu-i"/>
            <xsd:enumeration value="VATEX-EU-IC"/>
            <xsd:enumeration value="vatex-eu-ic"/>
            <xsd:enumeration value="VATEX-EU-J"/>
            <xsd:enumeration value="vatex-eu-j"/>
            <xsd:enumeration value="VATEX-EU-O"/>
            <xsd:enumeration value="vatex-eu-o"/>
            <xsd:enumeration value="VATEX-FR-FRANCHISE"/>
            <xsd:enumeration value="vatex-fr-franchise"/>
            <xsd:enumeration value="VATEX-FR-CNWVAT"/>
            <xsd:enumeration value="vatex-fr-cnwvat"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="valuta">
        <xsd:annotation>
            <xsd:documentation>Oznaka valute po ISO 4217.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}"/>
            <xsd:enumeration value="AED"/>
            <xsd:enumeration value="AFN"/>
            <xsd:enumeration value="ALL"/>
            <xsd:enumeration value="AMD"/>
            <xsd:enumeration value="ANG"/>
            <xsd:enumeration value="AOA"/>
            <xsd:enumeration value="ARS"/>
            <xsd:enumeration value="AUD"/>
            <xsd:enumeration value="AWG"/>
            <xsd:enumeration value="AZN"/>
            <xsd:enumeration value="BAM"/>
            <xsd:enumeration value="BBD"/>
            <xsd:enumeration value="BDT"/>
            <xsd:enumeration value="BGN"/>
            <xsd:enumeration value="BHD"/>
            <xsd:enumeration value="BIF"/>
            <xsd:enumeration value="BMD"/>
            <xsd:enumeration value="BND"/>
            <xsd:enumeration value="BOB"/>
            <xsd:enumeration value="BOV"/>
            <xsd:enumeration value="BRL"/>
            <xsd:enumeration value="BSD"/>
            <xsd:enumeration value="BTN"/>
            <xsd:enumeration value="BWP"/>
            <xsd:enumeration value="BYN"/>
            <xsd:enumeration value="BZD"/>
            <xsd:enumeration value="CAD"/>
            <xsd:enumeration value="CDF"/>
            <xsd:enumeration value="CHE"/>
            <xsd:enumeration value="CHF"/>
            <xsd:enumeration value="CHW"/>
            <xsd:enumeration value="CLF"/>
            <xsd:enumeration value="CLP"/>
            <xsd:enumeration value="CNY"/>
            <xsd:enumeration value="COP"/>
            <xsd:enumeration value="COU"/>
            <xsd:enumeration value="CRC"/>
            <xsd:enumeration value="CUC"/>
            <xsd:enumeration value="CUP"/>
            <xsd:enumeration value="CVE"/>
            <xsd:enumeration value="CZK"/>
            <xsd:enumeration value="DJF"/>
            <xsd:enumeration value="DKK"/>
            <xsd:enumeration value="DOP"/>
            <xsd:enumeration value="DZD"/>
            <xsd:enumeration value="EGP"/>
            <xsd:enumeration value="ERN"/>
            <xsd:enumeration value="ETB"/>
            <xsd:enumeration value="EUR"/>
            <xsd:enumeration value="FJD"/>
            <xsd:enumeration value="FKP"/>
            <xsd:enumeration value="GBP"/>
            <xsd:enumeration value="GEL"/>
            <xsd:enumeration value="GHS"/>
            <xsd:enumeration value="GIP"/>
            <xsd:enumeration value="GMD"/>
            <xsd:enumeration value="GNF"/>
            <xsd:enumeration value="GTQ"/>
            <xsd:enumeration value="GYD"/>
            <xsd:enumeration value="HKD"/>
            <xsd:enumeration value="HNL"/>
            <xsd:enumeration value="HRK"/>
            <xsd:enumeration value="HTG"/>
            <xsd:enumeration value="HUF"/>
            <xsd:enumeration value="IDR"/>
            <xsd:enumeration value="ILS"/>
            <xsd:enumeration value="INR"/>
            <xsd:enumeration value="IQD"/>
            <xsd:enumeration value="IRR"/>
            <xsd:enumeration value="ISK"/>
            <xsd:enumeration value="JMD"/>
            <xsd:enumeration value="JOD"/>
            <xsd:enumeration value="JPY"/>
            <xsd:enumeration value="KES"/>
            <xsd:enumeration value="KGS"/>
            <xsd:enumeration value="KHR"/>
            <xsd:enumeration value="KMF"/>
            <xsd:enumeration value="KPW"/>
            <xsd:enumeration value="KRW"/>
            <xsd:enumeration value="KWD"/>
            <xsd:enumeration value="KYD"/>
            <xsd:enumeration value="KZT"/>
            <xsd:enumeration value="LAK"/>
            <xsd:enumeration value="LBP"/>
            <xsd:enumeration value="LKR"/>
            <xsd:enumeration value="LRD"/>
            <xsd:enumeration value="LSL"/>
            <xsd:enumeration value="LYD"/>
            <xsd:enumeration value="MAD"/>
            <xsd:enumeration value="MDL"/>
            <xsd:enumeration value="MGA"/>
            <xsd:enumeration value="MKD"/>
            <xsd:enumeration value="MMK"/>
            <xsd:enumeration value="MNT"/>
            <xsd:enumeration value="MOP"/>
            <xsd:enumeration value="MRU"/>
            <xsd:enumeration value="MUR"/>
            <xsd:enumeration value="MVR"/>
            <xsd:enumeration value="MWK"/>
            <xsd:enumeration value="MXN"/>
            <xsd:enumeration value="MXV"/>
            <xsd:enumeration value="MYR"/>
            <xsd:enumeration value="MZN"/>
            <xsd:enumeration value="NAD"/>
            <xsd:enumeration value="NGN"/>
            <xsd:enumeration value="NIO"/>
            <xsd:enumeration value="NOK"/>
            <xsd:enumeration value="NPR"/>
            <xsd:enumeration value="NZD"/>
            <xsd:enumeration value="OMR"/>
            <xsd:enumeration value="PAB"/>
            <xsd:enumeration value="PEN"/>
            <xsd:enumeration value="PGK"/>
            <xsd:enumeration value="PHP"/>
            <xsd:enumeration value="PKR"/>
            <xsd:enumeration value="PLN"/>
            <xsd:enumeration value="PYG"/>
            <xsd:enumeration value="QAR"/>
            <xsd:enumeration value="RON"/>
            <xsd:enumeration value="RSD"/>
            <xsd:enumeration value="RUB"/>
            <xsd:enumeration value="RWF"/>
            <xsd:enumeration value="SAR"/>
            <xsd:enumeration value="SBD"/>
            <xsd:enumeration value="SCR"/>
            <xsd:enumeration value="SDG"/>
            <xsd:enumeration value="SEK"/>
            <xsd:enumeration value="SGD"/>
            <xsd:enumeration value="SHP"/>
            <xsd:enumeration value="SLE"/>
            <xsd:enumeration value="SLL"/>
            <xsd:enumeration value="SOS"/>
            <xsd:enumeration value="SRD"/>
            <xsd:enumeration value="SSP"/>
            <xsd:enumeration value="STN"/>
            <xsd:enumeration value="SVC"/>
            <xsd:enumeration value="SYP"/>
            <xsd:enumeration value="SZL"/>
            <xsd:enumeration value="THB"/>
            <xsd:enumeration value="TJS"/>
            <xsd:enumeration value="TMT"/>
            <xsd:enumeration value="TND"/>
            <xsd:enumeration value="TOP"/>
            <xsd:enumeration value="TRY"/>
            <xsd:enumeration value="TTD"/>
            <xsd:enumeration value="TWD"/>
            <xsd:enumeration value="TZS"/>
            <xsd:enumeration value="UAH"/>
            <xsd:enumeration value="UGX"/>
            <xsd:enumeration value="USD"/>
            <xsd:enumeration value="USN"/>
            <xsd:enumeration value="UYI"/>
            <xsd:enumeration value="UYU"/>
            <xsd:enumeration value="UYW"/>
            <xsd:enumeration value="UZS"/>
            <xsd:enumeration value="VES"/>
            <xsd:enumeration value="VND"/>
            <xsd:enumeration value="VUV"/>
            <xsd:enumeration value="WST"/>
            <xsd:enumeration value="XAF"/>
            <xsd:enumeration value="XAG"/>
            <xsd:enumeration value="XAU"/>
            <xsd:enumeration value="XBA"/>
            <xsd:enumeration value="XBB"/>
            <xsd:enumeration value="XBC"/>
            <xsd:enumeration value="XBD"/>
            <xsd:enumeration value="XCD"/>
            <xsd:enumeration value="XDR"/>
            <xsd:enumeration value="XOF"/>
            <xsd:enumeration value="XPD"/>
            <xsd:enumeration value="XPF"/>
            <xsd:enumeration value="XPT"/>
            <xsd:enumeration value="XSU"/>
            <xsd:enumeration value="XTS"/>
            <xsd:enumeration value="XUA"/>
            <xsd:enumeration value="XXX"/>
            <xsd:enumeration value="YER"/>
            <xsd:enumeration value="ZAR"/>
            <xsd:enumeration value="ZMW"/>
            <xsd:enumeration value="ZWL"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="vrstaDokumenta">
        <xsd:annotation>
            <xsd:documentation>Vrsta dokumenata po UNTDID 1001.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="71"/>
            <xsd:enumeration value="80"/>
            <xsd:enumeration value="81"/>
            <xsd:enumeration value="82"/>
            <xsd:enumeration value="83"/>
            <xsd:enumeration value="84"/>
            <xsd:enumeration value="102"/>
            <xsd:enumeration value="130"/>
            <xsd:enumeration value="202"/>
            <xsd:enumeration value="203"/>
            <xsd:enumeration value="204"/>
            <xsd:enumeration value="211"/>
            <xsd:enumeration value="218"/>
            <xsd:enumeration value="219"/>
            <xsd:enumeration value="261"/>
            <xsd:enumeration value="262"/>
            <xsd:enumeration value="295"/>
            <xsd:enumeration value="296"/>
            <xsd:enumeration value="308"/>
            <xsd:enumeration value="325"/>
            <xsd:enumeration value="326"/>
            <xsd:enumeration value="331"/>
            <xsd:enumeration value="380"/>
            <xsd:enumeration value="381"/>
            <xsd:enumeration value="382"/>
            <xsd:enumeration value="383"/>
            <xsd:enumeration value="384"/>
            <xsd:enumeration value="385"/>
            <xsd:enumeration value="386"/>
            <xsd:enumeration value="387"/>
            <xsd:enumeration value="388"/>
            <xsd:enumeration value="389"/>
            <xsd:enumeration value="390"/>
            <xsd:enumeration value="393"/>
            <xsd:enumeration value="394"/>
            <xsd:enumeration value="395"/>
            <xsd:enumeration value="396"/>
            <xsd:enumeration value="420"/>
            <xsd:enumeration value="456"/>
            <xsd:enumeration value="457"/>
            <xsd:enumeration value="458"/>
            <xsd:enumeration value="527"/>
            <xsd:enumeration value="532"/>
            <xsd:enumeration value="553"/>
            <xsd:enumeration value="575"/>
            <xsd:enumeration value="623"/>
            <xsd:enumeration value="633"/>
            <xsd:enumeration value="751"/>
            <xsd:enumeration value="780"/>
            <xsd:enumeration value="817"/>
            <xsd:enumeration value="870"/>
            <xsd:enumeration value="875"/>
            <xsd:enumeration value="876"/>
            <xsd:enumeration value="877"/>
            <xsd:enumeration value="935"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nacinPlacanja">
        <xsd:annotation>
            <xsd:documentation>Šifra načina plaćanja.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="T">
                <xsd:annotation>
                    <xsd:documentation>Transakcijski račun</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="O">
                <xsd:annotation>
                    <xsd:documentation>Obračunsko plaćanje</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Z">
                <xsd:annotation>
                    <xsd:documentation>Ostalo</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="kategorijaPdv">
        <xsd:annotation>
            <xsd:documentation>Oznaka kategorije PDV-a po UNTIDID5305.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="O"/>
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="AE"/>
            <xsd:enumeration value="Z"/>
            <xsd:enumeration value="K"/>
            <xsd:enumeration value="G"/>
            <xsd:enumeration value="L"/>
            <xsd:enumeration value="M"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="klasifikacijaArtikla">
        <xsd:annotation>
            <xsd:documentation>Šifrarnik klasifikacije artikla po njegovom tipu ili prirodi po UNTDID7143.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CG"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="hrKategorijaPdv">
        <xsd:annotation>
            <xsd:documentation>Oznaka Hrvatske kategorije PDV-a.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HR:PDV25"/>
            <xsd:enumeration value="HR:PDV13"/>
            <xsd:enumeration value="HR:PDV5"/>
            <xsd:enumeration value="HR:Z"/>
            <xsd:enumeration value="HR:K"/>
            <xsd:enumeration value="HR:G"/>
            <xsd:enumeration value="HR:AE"/>
            <xsd:enumeration value="HR:E"/>
            <xsd:enumeration value="HR:POVNAK"/>
            <xsd:enumeration value="HR:PP"/>
            <xsd:enumeration value="HR:PPMV"/>
            <xsd:enumeration value="HR:O"/>
            <xsd:enumeration value="HR:N"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="razlogPopusta">
        <xsd:annotation>
            <xsd:documentation>Razlog za popust po UNTDID5189.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="64"/>
            <xsd:enumeration value="95"/>
            <xsd:enumeration value="100"/>
            <xsd:enumeration value="102"/>
            <xsd:enumeration value="103"/>
            <xsd:enumeration value="104"/>
            <xsd:enumeration value="105"/>
            <xsd:enumeration value="106"/>
            <xsd:enumeration value="109"/>
            <xsd:enumeration value="98"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="OIBTip">
        <xsd:annotation>
            <xsd:documentation>OIB.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst10">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 10 znaka.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst100">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 100 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst200">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 200 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="200"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst500">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 500 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="500"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst1024">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 1024 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1024"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst4096">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 1024 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4096"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal2">
        <xsd:annotation>
            <xsd:documentation>Decimalni broj s dvije decimale.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal30i10">
        <xsd:annotation>
            <xsd:documentation>Decimalni broj ukupno 30 znakova a od toga deset decimala.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="30"/>
            <xsd:fractionDigits value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="greska">
        <xsd:annotation>
            <xsd:documentation>Sifrarnik gresaka odgovora.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="S001"><xsd:annotation><xsd:documentation>Sistemska greška prilikom obrade zahtjeva</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S002"><xsd:annotation><xsd:documentation>Lokacija potpisa nije ispravna</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S003"><xsd:annotation><xsd:documentation>Certifikat nije izdan od davatelja usluga s Pouzdanog potpisa, ili je istekao ili je ukinut</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S004"><xsd:annotation><xsd:documentation>Neispravan potpis zahtjeva</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S005"><xsd:annotation><xsd:documentation>Poruka nije u skladu s XML shemom : #element ili lista elemenata koji nisu ispravni po shemi</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S006"><xsd:annotation><xsd:documentation>Pristupna tocka nije ovlaštena za dostavu podataka</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S007"><xsd:annotation><xsd:documentation>OIB iz zahtjeva nije formalno ispravan: #vrijednost OIB-a iz upita</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S008"><xsd:annotation><xsd:documentation>Već postoji zabilježen eRačun s istim identifikatorom</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S009"><xsd:annotation><xsd:documentation>Ne postoji zabilježen eRačun</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S010"><xsd:annotation><xsd:documentation>Već postoji zabilježen status odbijanja eRačuna s istim identifikatorom</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S011"><xsd:annotation><xsd:documentation>OIB iz zahtjeva nije jedinstven u listi</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S012"><xsd:annotation><xsd:documentation>Ne postoji evidentiran originalni eRačun za koji je dostavljen ispravljeni eRačun</xsd:documentation></xsd:annotation></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>