docs/eIzvjestavanjeSchema/eIzvjestavanjeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.porezna-uprava.gov.hr/fin/2024/types/eIzvjestavanje"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
            xmlns:tns="http://www.porezna-uprava.gov.hr/fin/2024/types/eIzvjestavanje"
            attributeFormDefault="qualified"
            elementFormDefault="qualified"
            version="1.0">

    <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

    <!--
    ==========================================================================
    XSD Change Log
    ==========================================================================
    # Date        Description
    ==========================================================================
    2026-01-17    - uskladjivanje polja
	2026-01-30    - dodani elementi za ovlastenje fiskalizacije														   
    ==========================================================================
    -->

    <!--
        Evidentiranje naplate
    -->

    <xsd:element name="EvidentirajNaplatuZahtjev">
        <xsd:annotation>
            <xsd:documentation>Zahtjev za evidenciju naplate eRačuna.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Zaglavlje" type="tns:Zaglavlje">
                    <xsd:annotation>
                        <xsd:documentation>Zaglavlje zahtjeva.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Naplata" type="tns:Naplata" maxOccurs="100">
                    <xsd:annotation>
                        <xsd:documentation>Podaci o jednoj ili više naplata.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis zahtjeva, obavezan prilikom zaprimanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="EvidentirajNaplatuOdgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                    <xsd:annotation>
                        <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Odgovor" type="tns:Odgovor">
                    <xsd:annotation>
                        <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis odgovora.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--
        Evidentiranje odbijanja
    -->

    <xsd:element name="EvidentirajOdbijanjeZahtjev">
        <xsd:annotation>
            <xsd:documentation>Zahtjev za evidenciju odbijanja eRačuna.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Zaglavlje" type="tns:Zaglavlje">
                    <xsd:annotation>
                        <xsd:documentation>Zaglavlje zahtjeva.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Odbijanje" type="tns:Odbijanje" maxOccurs="100">
                    <xsd:annotation>
                        <xsd:documentation>Podaci o jednom ili više odbijanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis zahtjeva, obavezan prilikom zaprimanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="EvidentirajOdbijanjeOdgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                    <xsd:annotation>
                        <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Odgovor" type="tns:Odgovor">
                    <xsd:annotation>
                        <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis odgovora.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--
        Naplata kompleksni tipovi podataka
    -->

    <xsd:complexType name="Naplata">
        <xsd:annotation>
            <xsd:documentation>Podaci o naplati eRačuna</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="brojDokumenta" type="tns:tekst100">
                <xsd:annotation>
                    <xsd:documentation>Broj dokumenta eRačuna, dio identifikatora eRačuna (BT-1 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIzdavanja" type="tns:datumIzdavanja">
                <xsd:annotation>
                    <xsd:documentation>Datum izdavanja eRačuna, dio identifikatora eRačuna (BT-2 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBrojIzdavatelja" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj izdavatelja, dio identifikatora eRačuna (BT-31 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBrojPrimatelja" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj primatelja.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumNaplate" type="tns:datum">
                <xsd:annotation>
                    <xsd:documentation>Datum naplate eRačuna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="naplaceniIznos" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Iznos koji je naplaćen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nacinPlacanja" type="tns:nacinPlacanja">
                <xsd:annotation>
                    <xsd:documentation>Šifra načina plaćanja (T – Transakcijski račun, O – Obračunsko plaćanje, Z – Ostalo).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        Odbijanje kompleksni tipovi podataka
    -->
    
    <xsd:complexType name="Odbijanje">
        <xsd:annotation>
            <xsd:documentation>Element predstavlja podatke za odbijanja eRačuna.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="brojDokumenta" type="tns:tekst100">
                <xsd:annotation>
                    <xsd:documentation>Broj dokumenta eRačuna, dio identifikatora eRačuna (BT-1 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIzdavanja" type="tns:datumIzdavanja">
                <xsd:annotation>
                    <xsd:documentation>Datum izdavanja eRačuna, dio identifikatora eRačuna (BT-2 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBrojIzdavatelja" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj izdavatelja, dio identifikatora eRačuna (BT-31 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBrojPrimatelja" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj primatelja.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumOdbijanja" type="tns:datum">
                <xsd:annotation>
                    <xsd:documentation>Datum odbijanja eRačuna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vrstaRazlogaOdbijanja" type="tns:razlogOdbijanja">
                <xsd:annotation>
                    <xsd:documentation>Šifra vrste razloga odbijanja eRačuna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="razlogOdbijanja" type="tns:tekst1024">
                <xsd:annotation>
                    <xsd:documentation>Razlog odbijanja eRačuna.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        Evidentiranje isporuke za koju nije izdan eRačun
    -->
    <xsd:element name="EvidentirajIsporukuZaKojuNijeIzdanERacunZahtjev">
        <xsd:annotation>
            <xsd:documentation>Zahtjev za evidenciju računa za koji nije izdan eRačun.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Zaglavlje" type="tns:ZaglavljeIsporuka">
                    <xsd:annotation>
                        <xsd:documentation>Zaglavlje zahtjeva.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Racun" type="tns:Racun" maxOccurs="100">
                    <xsd:annotation>
                        <xsd:documentation>Podaci o jednom ili više računa.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis zahtjeva, obavezan prilikom zaprimanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="EvidentirajIsporukuZaKojuNijeIzdanERacunOdgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev za evidenciju eRačuna.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                    <xsd:annotation>
                        <xsd:documentation>Datum i vrijeme slanja odgovora</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Odgovor" type="tns:Odgovor">
                    <xsd:annotation>
                        <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis odgovora.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!--
        Račun kompleksni tipovi podataka
    -->

    <xsd:complexType name="ZaglavljeIsporuka">
        <xsd:annotation>
            <xsd:documentation>Zaglavlje zahtjeva</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                <xsd:annotation>
                    <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vrstaRacuna" type="xsd:string" fixed="IR">
                <xsd:annotation>
                    <xsd:documentation>Vrsta računa, IR.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Racun">
        <xsd:annotation>
            <xsd:documentation>Podaci o računu.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="brojDokumenta" type="tns:tekst100">
                <xsd:annotation>
                    <xsd:documentation>Broj dokumenta računa, dio identifikatora eRačuna (BT-1 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIzdavanja" type="tns:datumIzdavanja">
                <xsd:annotation>
                    <xsd:documentation>Datum izdavanja računa, dio identifikatora eRačuna (BT-2 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vrstaDokumenta" type="tns:vrstaDokumenta">
                <xsd:annotation>
                    <xsd:documentation>Šifra vrste dokumenta računa, dio identifikatora eRačuna (BT-3 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="valutaRacuna" type="tns:valuta">
                <xsd:annotation>
                    <xsd:documentation>Šifra valute po ISO4217 u kojoj se iskazuju svi iznosi na računu, osim za ukupni iznos PDV-a u računovodstvenoj valuti (BT-5 iz UBL 2.1)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumDospijecaPlacanja" type="tns:datum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum kada plaćanje dospijeva na naplatu (BT-9 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vrstaPoslovnogProcesa" type="tns:tekst200">
                <xsd:annotation>
                    <xsd:documentation>Identifikator poslovnog procesa u kojem se obavlja transakcija, kako bi se kupcu omogućila obrada na odgovarajući način (BT-23 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referencaNaUgovor" type="tns:tekst1024" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifikacija ugovora koja mora biti jedinstvena u kontekstu specifičnog trgovinskog odnosa i za određeno razdoblje (BT-12 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIsporuke" type="tns:datum" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Datum na koji se obavlja ili dovršava isporuke robe ili usluga (BT-72 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PrethodniRacun" type="tns:PrethodniRacun" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Informacije o jednom ili više prethodnih računa (BG-3 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Izdavatelj" type="tns:Izdavatelj">
                <xsd:annotation>
                    <xsd:documentation>Informacije o izdavatelju (BG-4 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Primatelj" type="tns:Primatelj">
                <xsd:annotation>
                    <xsd:documentation>Informacije o primatelju (BG-7 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PrijenosSredstava" type="tns:PrijenosSredstava" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Informacije o virmanskim plaćanjima (BG-17 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DokumentUkupanIznos" type="tns:DokumentUkupanIznos">
                <xsd:annotation>
                    <xsd:documentation>Informacije o ukupnim novčanim iznosima za račun (BG-22 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RaspodjelaPdv" type="tns:RaspodjelaPdv" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Informacije o rekapitulaciji PDV-a po različitim kategorijama, stopama i razlozima izuzeća (BG-23 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DokumentPopust" type="tns:DokumentPopust" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Skupina poslovnih pojmova koji nude informacije o popustima (BG-20 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DokumentTrosak" type="tns:DokumentTrosak" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Skupina poslovnih pojmova koji pružaju informacije o troškovima i porezima osim PDV-a, primjenjivo na račun u cjelini (BG-21 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StavkaRacuna" type="tns:StavkaRacuna" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Informacije o pojedinačnim stavkama računa.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indikatorKopije" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Indikator kopije računa koji pokazuje radi li se o kopiji računa (true) ili ne (false) .</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PrethodniRacun">
        <xsd:sequence>
            <xsd:element name="brojDokumenta" type="tns:tekst100">
                <xsd:annotation>
                    <xsd:documentation>Broj dokumenta istog izdavatelja na koji se račun referencira (BT-25 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datumIzdavanja" type="tns:datum">
                <xsd:annotation>
                    <xsd:documentation>Datum izdavanja prethodnog računa na koji se novi dokument referencira (BT-26 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Izdavatelj">
        <xsd:sequence>
            <xsd:element name="ime" type="tns:tekst1024">
                <xsd:annotation>
                    <xsd:documentation>Puno ime pod kojim je Izdavatelj registriran u nacionalnom registru pravnih osoba ili kao porezni obveznik ili na neki drugi način trguje kao osoba ili osobe (BT-27 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBroj" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB ili porezni broj izdavatelja, dio identifikatora eRačuna (BT-31 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibOperatera" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>OIB operatera sukladno Zakonu o fiskalizaciji (HR-BT-5 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Primatelj">
        <xsd:sequence>
            <xsd:element name="ime" type="tns:tekst1024">
                <xsd:annotation>
                    <xsd:documentation>Puno ime primatelja (BT-44 iz UBL2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oibPorezniBroj" type="tns:OIBTip">
                <xsd:annotation>
                    <xsd:documentation>Za porezne obveznike u RH je polje obavezno i izričito OIB (BT-48 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PrijenosSredstava">
        <xsd:sequence>
            <xsd:element name="identifikatorRacunaZaPlacanje" type="tns:tekst200">
                <xsd:annotation>
                    <xsd:documentation>Jedinstveni identifikator financijskog platnog računa, kod pružatelja platnih usluga, na koji se plaćanje treba izvršiti (BT-84 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazivRacunaZaPlacanje" type="tns:tekst500" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Naziv računa za plaćanje, kod pružatelja platnih usluga, na koji se plaćanje treba izvršiti (BT-85 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifikatorPruzateljaPlatnihUsluga" type="tns:tekst200" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifikator pružatelja platnih usluga, kod kojega se nalazi račun za plaćanje (BT-86 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DokumentUkupanIznos">
        <xsd:sequence>
            <xsd:element name="neto" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Zbroj svih neto iznosa stavki računa koji su navedene na računu (BT-106 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="popust" type="tns:decimal2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zbroj svih popusta na razini dokumenta na računu (BT-107 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="trosak" type="tns:decimal2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zbroj svih troškova na razini dokumenta na računu (BT-108 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iznosBezPdv" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupan iznos na računu bez PDV-a (BT-109 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="pdv" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupni iznos PDVa za račun (BT-110 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iznosSPdv" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupni iznos računa s uključenim PDV-om (BT-112 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="placeniIznos" type="tns:decimal2" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Zbroj iznosa koji su plaćeni unaprijed (BT-113 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iznosKojiDospijevaZaPlacanje" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Nepodmireni iznos za koji se zahtijeva plaćanje (BT-115 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RaspodjelaPdv">
        <xsd:sequence>
            <xsd:element name="kategorijaPdv" type="tns:kategorijaPdv">
                <xsd:annotation>
                    <xsd:documentation>Šifra kategorije PDV-a po UNCL5305 (BT-118 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oporeziviIznos" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Zbroj svih oporezivih iznosa koji podliježu određenom kodu kategorije PDV-a i stopi kategorije PDV-a, ako je primjenjiva stopa kategorije PDV-a (BT-116 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="iznosPoreza" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupni iznos PDV-a za pojedinu kategoriju PDV-a (BT-117 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stopa" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stopa PDV-a prikazana kao postotak koji se primjenjuje na relevantnu kategoriju PDV-a. Može biti bilo kakav broj, postotak (BT-119 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="razlogOslobodenja" type="tns:izuzecePdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Šifra razloga za izuzeće iznosa od PDV-a po VATEX, obavezno ako je kategorijaPdv jednaka AE ili tekstRazlogaOslobodenja postoji (BT-121 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tekstRazlogaOslobodenja" type="tns:tekst1024" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Tekst razloga za izuzeće od PDV-a, članak 226, stavke 11 do 15 Direktive 2006/112/EZ, obavezno ako je kategorijaPdv jednaka AE ili razlogOslobodenja postoji (BT-120 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hrOznakaKategorijaPdv" type="tns:hrKategorijaPdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Šifra Hrvatske kategorije PDV-a (HR-BT-22 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DokumentPopust">
        <xsd:sequence>
            <xsd:element name="iznosPopust" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Iznos popusta, bez PDV-a (BT-92 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kategorijaPdv" type="tns:kategorijaPdv">
                <xsd:annotation>
                    <xsd:documentation>Kodirana identifikacija kategorije PDV-a koja se primjenjuje na popust na razini dokumenta (BT-95 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stopaPdv" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stopa PDV-a prikazana kao postotak koji se primjenjuje na popust na razini dokumenta (BT-96 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tekstRazlogaPopusta" type="tns:tekst1024" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Razlog za popust na razini dokumenta izražen u obliku teksta (BT-97 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="razlogPopusta" type="tns:razlogPopusta" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Razlog za popust na razini dokumenta, izražen u obliku koda (BT-98 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DokumentTrosak">
        <xsd:sequence>
            <xsd:element name="iznosTrosak" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Iznos troška, bez PDV-a (BT-99 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kategorijaPdv" type="tns:kategorijaPdv">
                <xsd:annotation>
                    <xsd:documentation>Kodirana identifikacija kategorije PDV-a koja se primjenjuje na trošak na razini dokumenta (BT-102 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hrOznakaPorezneKategorije" type="tns:hrKategorijaPdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Podrška za stavke koje ne podliježu PDV-u (HR-BT-6 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stopaPdv" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stopa PDV-a prikazana kao postotak na koji se primjenjuje trošak na razini dokumenta (BT-103 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tekstRazlogaOslobodenjaPdv" type="tns:tekst1024" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Razlog oslobođenja od PDV-a izražen kao tekst (HR-BT-7 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="razlogOslobodenjaPdv" type="tns:izuzecePdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Razlog oslobođenja od PDV-a izražen kao kod (HR-BT-8 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="StavkaRacuna">
        <xsd:sequence>
            <xsd:element name="kolicina" type="tns:decimal30i10">
                <xsd:annotation>
                    <xsd:documentation>Količina artikala (robe ili usluga) koje se obračunavaju na stavki računa (BT-129 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="jedinicaMjere" type="tns:jedinicaMjere">
                <xsd:annotation>
                    <xsd:documentation>Jedinica mjere koja se primjenjuje na količinu fakturiranu na računu (BT-130 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="neto" type="tns:decimal2">
                <xsd:annotation>
                    <xsd:documentation>Ukupan iznos stavke računa, uključujući popuste i troškove na razini stavke kao i druge relevantne poreze (BT-131 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklNetoCijena" type="tns:decimal30i10">
                <xsd:annotation>
                    <xsd:documentation>Cijena artikla bez PDV-a, nakon oduzimanja popusta na cijenu artikla (BT-146 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklBrutoCijena" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Jedinična cijena bez PDV-a prije oduzimanja popusta na cijenu artikla (BT-148 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklOsnovnaKolicina" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Broj jedinica artikla na koji se primjenjuje cijena (BT-149 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklJedinicaMjereZaOsnovnuKolicinu" type="tns:jedinicaMjere" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Šifra jedinica mjere koja se primjenjuje na osnovnu količinu za cijenu artikla. Iste vrijednosti kao i kod Jedinica mjere (BT-150 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklKategorijaPdv" type="tns:kategorijaPdv">
                <xsd:annotation>
                    <xsd:documentation>Šifra kategorije PDV-a za fakturirani artikl po UNCL5305 (BT-151 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklStopaPdv" type="tns:decimal30i10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Stopa PDV-a prikazana u obliku postotka koji vrijedi za fakturirani artikl (BT-152 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklNaziv" type="tns:tekst1024">
                <xsd:annotation>
                    <xsd:documentation>Naziv artikla (BT-153 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklOpis" type="tns:tekst4096" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Opis artikla (BT-154 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="artiklHrOznakaKategorijaPdv" type="tns:hrKategorijaPdv" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Podrška za stavke koje su oslobođene PDV-a ili ne podliježu PDV-u (oznaka porezne kategorije artikla) (HR-BT-12 iz EU norme).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ArtiklIdentifikatorKlasifikacija" type="tns:ArtiklIdentifikatorKlasifikacija" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>CPA nomenklatura označava se oznakom 'CG'.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ArtiklIdentifikatorKlasifikacija">
        <xsd:sequence>
            <xsd:element name="identifikatorKlasifikacije" type="tns:tekst10">
                <xsd:annotation>
                    <xsd:documentation>Vrijednost iz klasifikacije artikla po njegovom tipu ili prirodi (BT-158 iz UBL 2.1).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identifikatorSheme" type="tns:klasifikacijaArtikla">
                <xsd:annotation>
                    <xsd:documentation>Kod za klasifikaciju artikla po njegovom tipu ili prirodi po UNTDID 7143.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verzijaSheme" type="tns:tekst10" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Verzija sheme.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
	
    <!--
    Ovlastenja fiskalizacije
    -->

    <xsd:element name="OvlastenjaFiskalizacijeZahtjev">
        <xsd:annotation>
            <xsd:documentation>Zahtjev za ovlastenja fiskalizacije.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Zaglavlje" type="tns:Zaglavlje">
                    <xsd:annotation>
                        <xsd:documentation>Zaglavlje zahtjeva.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="oib" type="tns:OIBTip" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>OIB za koji se dohvaćaju ovlaštenja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis zahtjeva, obavezan prilikom zaprimanja.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="OvlastenjaFiskalizacijeOdgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                    <xsd:annotation>
                        <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ovlasteniOib" type="tns:OIBTip" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>Popis ovlaštenih OIB-ova.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="ds:Signature">
                    <xsd:annotation>
                        <xsd:documentation>Potpis odgovora.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>Atribut korišten prilikom kreiranja i provjere digitalnog potpisa.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

	<!--
		Zajednički kompleksni tipovi podataka
	-->

    <xsd:complexType name="Zaglavlje">
        <xsd:annotation>
            <xsd:documentation>Zaglavlje zahtjeva</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="datumVrijemeSlanja" type="tns:datumVrijemeSlanja">
                <xsd:annotation>
                    <xsd:documentation>Datum i vrijeme slanja zahtjeva</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Odgovor">
        <xsd:annotation>
            <xsd:documentation>Odgovor na zahtjev</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idZahtjeva" type="tns:uuid">
                <xsd:annotation>
                    <xsd:documentation>Jedinstveni identifikator primljenog zahtjeva</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prihvacenZahtjev" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>Status prihvaćanja zahtjeva</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="greska" minOccurs="0">
                <xsd:complexType>
                    <xsd:annotation>
                        <xsd:documentation>Greška prilikom obrade zahtjeva</xsd:documentation>
                    </xsd:annotation>
                    <xsd:sequence>
                        <xsd:element name="sifra" type="tns:greska">
                            <xsd:annotation>
                                <xsd:documentation>Šifra greške</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="redniBrojZapisa" type="xsd:integer">
                            <xsd:annotation>
                                <xsd:documentation>Redni broj zapisa na koji se odnosi greška.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="opis" type="tns:tekst1024">
                            <xsd:annotation>
                                <xsd:documentation>Opis greške</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

	<!--
		Jednostavni tipovi podataka
	-->

    <xsd:simpleType name="datumVrijemeSlanja">
        <xsd:annotation>
            <xsd:documentation>Datum i vrijeme s decimalama zapisano u formatu YYYY-MM-DDTHH:MM:SS.SSSS npr. 2024-04-01T08:04:02.1234</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{4}"/>
            <xsd:minInclusive value="2026-01-01T00:00:00.0000"/>
            <xsd:maxInclusive value="2100-01-01T00:00:00.0000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="datum">
        <xsd:annotation>
            <xsd:documentation>Datum zapisan u formatu YYYY-MM-DD</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date">
            <xsd:maxInclusive value="2100-01-01"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="datumIzdavanja">
        <xsd:annotation>
            <xsd:documentation>Datum zapisan u formatu YYYY-MM-DD</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date">
            <xsd:minInclusive value="2026-01-01"/>
            <xsd:maxInclusive value="2100-01-01"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="razlogOdbijanja">
        <xsd:annotation>
            <xsd:documentation>Šifrarnik razloga odbijanja.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="N"><xsd:annotation><xsd:documentation>Neusklađenost podataka koji ne utječu na obračun poreza.</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="U"><xsd:annotation><xsd:documentation>Neusklađenost podataka koji utječu na obračun poreza.</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="O"><xsd:annotation><xsd:documentation>Ostalo.</xsd:documentation></xsd:annotation></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="uuid">
        <xsd:annotation>
            <xsd:documentation>UUID kreiran po RFC4122 (https://tools.ietf.org/html/rfc4122).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="jedinicaMjere">
        <xsd:annotation>
            <xsd:documentation>Oznaka jedinica mjere iz EN16931 v13.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z0-9]{2,3}"/>
            <xsd:pattern value="(10|11|13|14|15|1I|20|21|22|23|24|25|27|28|2A|2B|2C|2G|2H|2I|2J|2K|2L|2M|2N|2P|2Q|2R|2U|2X|2Y|2Z|
            |33|34|35|37|38|3B|3C|40|41|4C|4G|4H|4K|4L|4M|4N|4O|4P|4Q|4R|4T|4U|4W|4X|56|57|58|59|5A|5B|5E|5J|60|61|74|77|80|81|85|87|89|91|
            |A10|A11|A12|A13|A14|A15|A16|A17|A18|A19|A2|A20|A21|A22|A23|A24|A26|A27|A28|A29|
            |A3|A30|A31|A32|A33|A34|A35|A36|A37|A38|LUX|A39|A4|A40|A41|A42|A43|A44|A45|A47|A48|A49|A5|A53|A54|A55|A56|A59|
            |A6|A68|A69|A7|A70|A71|A73|A74|A75|A76|A8|A84|A85|A86|A87|A88|A89|A9|A90|A91|A93|A94|A95|A96|A97|A98|A99|
            |AA|AB|ACR|ACT|AD|AE|AH|AI|AK|AL|AMH|AMP|ANN|APZ|AQ|AS|ASM|ASU|ATM|AWG|AY|AZ|B1|B10|B11|B12|B13|B14|B15|B16|B17|B18|B19|
            |B20|B21|B22|B23|B24|B25|B26|B27|B28|B29|B3|B30|B31|B32|B33|B34|B35|B4|B41|B42|B43|B44|B45|B46|B47|B48|B49|
            |B50|B52|B53|B54|B55|B56|B57|B58|B59|B60|B61|B62|B63|B64|B66|B67|B68|B69|B7|B70|B71|B72|B73|B74|B75|B76|B77|B78|B79|
            |B8|B80|B81|B82|B83|B84|B85|B86|B87|B88|B89|B90|B91|B92|B93|B94|B95|B96|B97|B98|B99|BAR|BB|BFT|BHP|BIL|BLD|BLL|BP|BPM|
            |BQL|BTU|BUA|BUI|C0|C10|C11|C12|C13|C14|C15|C16|C17|C18|C19|C20|C21|C22|C23|C24|C25|C26|C27|C28|C29|
            |C3|C30|C31|C32|C33|C34|C35|C36|C37|C38|C39|C40|C41|C42|C43|C44|C45|C46|C47|C48|C49|
            |C50|C51|C52|C53|C54|C55|C56|C57|C58|C59|C60|C61|C62|C63|C64|C65|C66|C67|C68|C69|C7|
            |C70|C71|C72|C73|C74|C75|C76|C78|C79|C8|C80|C81|C82|C83|C84|C85|C86|C87|LY|C88|C89|
            |C9|C90|C91|C92|C93|C94|C95|C96|C97|C99|CCT|CDL|CEL|CEN|CG|CGM|CKG|CLF|CLT|CMK|CMQ|CMT|CNP|CNT|COU|CTG|CTM|CTN|
            |CUR|CWA|CWI|D03|D04|D1|D10|D11|D12|D13|D15|D16|D17|D18|D19|D2|D20|D21|D22|D23|D24|D25|D26|D27|D29|
            |D30|D31|D32|D33|D34|D36|D41|D42|D43|D44|D45|D46|D47|D48|D49|D5|D50|D51|D52|D53|D54|D55|D56|D57|D58|D59|
            |D6|D60|D61|D62|D63|D65|D68|D69|D73|D74|D77|D78|D80|D81|D82|D83|D85|D86|D87|D88|D89|D91|D93|D94|D95|
            |DAA|DAD|DAY|DB|DD|DEC|DG|DJ|DLT|DMA|DMK|DMO|DMQ|DMT|DN|DPC|DPR|DPT|DRA|DRI|DRL|DT|DTN|DWT|DZN|DZP|
            |E01|E07|E08|E09|E10|E12|E14|E15|E16|E17|E18|E19|E20|E21|E22|E23|E25|E27|E28|
            |E30|E31|E32|E33|E34|E35|E36|E37|E38|E39|E4|E40|E41|E42|E43|E44|E45|E46|E47|E48|E49|
            |E50|E51|E52|E53|E54|E55|E56|E57|E58|E59|E60|E61|E62|E63|E64|E65|E66|E67|E68|E69|E70|E71|E72|E73|E74|E75|E76|E77|E78|E79|
            |E80|E81|E82|E83|E84|E85|E86|E87|E88|E89|E90|E91|E92|E93|E94|E95|E96|E97|E98|E99|EA|EB|EQ|
            |F01|F02|F03|F04|F05|F06|F07|F08|F10|F11|F12|F13|F14|F15|F16|F17|F18|F19|
            |F20|F21|F22|F23|F24|F25|F26|F27|F28|F29|F30|F31|F32|F33|F34|F35|F36|F37|F38|F39|
            |F40|F41|F42|F43|F44|F45|F46|F47|F48|F49|F50|F51|F52|F53|F54|F55|F56|F57|F58|F59|
            |F60|F61|F62|F63|F64|F65|F66|F67|F68|F69|F70|F71|F72|F73|F74|F75|F76|F77|F78|F79|
            |F80|F81|F82|F83|F84|F85|F86|F87|F88|F89|F90|F91|F92|F93|F94|F95|F96|F97|F98|F99|
            |FAH|FAR|FBM|FC|FF|FH|FIT|FL|FOT|FP|FR|FS|FTK|FTQ|G01|G04|G05|G06|G08|G09|
            |G10|G11|G12|G13|G14|G15|G16|G17|G18|G19|G2|G20|G21|G23|G24|G25|G26|G27|G28|G29|
            |G3|G30|G31|G32|G33|G34|G35|G36|G37|G38|G39|G40|G41|G42|G43|G44|G45|G46|G47|G48|G49|
            |G50|G51|G52|G53|G54|G55|G56|G57|G58|G59|G60|G61|G62|G63|M1|G64|G65|G66|G67|G68|G69|
            |G70|G71|G72|G73|G74|G75|G76|G77|G78|G79|G80|G81|G82|G83|G84|G85|G86|G87|G88|G89|G90|G91|G92|G93|G94|G95|G96|G97|G98|G99|
            |GB|GBQ|GDW|GE|GF|GFI|GGR|GIA|GIC|GII|GIP|GJ|GL|GLD|GLI|GLL|GM|GO|GP|GQ|GRM|GRN|GRO|GV|GWH|
            |H03|H04|H05|H06|H07|H08|H09|H10|H11|H12|H13|H14|H15|H16|H18|H19|H20|H21|H22|H23|H24|H25|H26|H27|H28|H29|
            |H30|H31|H32|H33|H34|H35|H36|H37|H38|H39|H40|H41|H42|H43|H44|H45|H46|H47|H48|H49|H50|H51|H52|H53|H54|H55|H56|H57|H58|H59|
            |H60|H61|H62|H63|H64|H65|H66|H67|H68|H69|H70|H71|H72|H73|H74|H75|H76|H77|H79|H80|H81|H82|H83|H84|H85|H87|H88|H89|
            |H90|H91|H92|H93|H94|H95|H96|H98|H99|HA|HBA|HBX|HC|HDW|HEA|HGM|HH|HIU|HKM|HLT|HM|HMQ|HMT|HPA|HTZ|HUR|IA|IE|
            |INH|INK|INQ|ISD|IU|IV|J10|J12|J13|J14|J15|J16|J17|J18|J19|J2|J20|J21|J22|J23|J24|J25|J26|J27|J28|J29|
            |J30|J31|J32|J33|J34|J35|J36|J38|J39|J40|J41|J42|J43|J44|J45|J46|J47|J48|J49|J50|J51|J52|J53|J54|J55|J56|J57|J58|J59|
            |J60|J61|J62|J63|J64|J65|J66|J67|J68|J69|J70|J71|J72|J73|J74|J75|J76|J78|J79|J81|J82|J83|J84|J85|J87|J90|J91|J92|J93|J95|J96|J97|J98|J99|
            |JE|JK|JM|JNT|JOU|JPS|JWL|K1|K10|K11|K12|K13|K14|K15|K16|K17|K18|K19|K2|K20|K21|K22|K23|K26|K27|K28|K3|
            |K30|K31|K32|K33|K34|K35|K36|K37|K38|K39|K40|K41|K42|K43|K45|K46|K47|K48|K49|K50|K51|K52|K53|K54|K55|K58|K59|K6|
            |K60|K61|K62|K63|K64|K65|K66|K67|K68|K69|K70|K71|K73|K74|K75|K76|K77|K78|K79|K80|K81|K82|K83|K84|K85|K86|K87|K88|K89|
            |K90|K91|K92|K93|K94|K95|K96|K97|K98|K99|KA|KAT|KB|KBA|KCC|KDW|KEL|KGM|KGS|KHY|KHZ|KI|KIC|KIP|KJ|KJO|KL|KLK|KLX|
            |KMA|KMH|KMK|KMQ|KMT|KNI|KNM|KNS|KNT|KO|KPA|KPH|KPO|KPP|KR|KSD|KSH|KT|KTN|KUR|KVA|KVR|KVT|KW|KWH|KWO|KWT|KX|
            |L10|L11|L12|L13|L14|L15|L16|L17|L18|L19|L2|L20|L21|L23|L24|L25|L26|L27|L28|L29|L30|L31|L32|L33|L34|L35|L36|L37|L38|L39|
            |L40|L41|L42|L43|L44|L45|L46|L47|L48|L49|L50|L51|L52|L53|L54|L55|L56|L57|L58|L59|L60|L63|L64|L65|L66|L67|L68|L69|
            |L70|L71|L72|L73|L74|L75|L76|L77|L78|L79|L80|L81|L82|L83|L84|L85|L86|L87|L88|L89|L90|L91|L92|L93|L94|L95|L96|L98|L99|
            |LA|LAC|LBR|LBT|LD|LEF|LF|LH|LK|LM|LN|LO|LP|LPA|LR|LS|LTN|LTR|LUB|LUM|M10|M11|M12|M13|M14|M15|M16|M17|M18|M19|
            |M20|M21|M22|M23|M24|M25|M26|M27|M29|M30|M31|M32|M33|M34|M35|M36|M37|M38|M39|M4|M40|M41|M42|M43|M44|M45|M46|M47|M48|M49|M5|
            |M50|M51|M52|M53|M55|M56|M57|M58|M59|M60|M61|M62|M63|M64|M65|M66|M67|M68|M69|M7|M70|M71|M72|M73|M74|M75|M76|M77|M78|M79|
            |M80|M81|M82|M83|M84|M85|M86|M87|M88|M89|M9|M90|M91|M92|M93|M94|M95|M96|M97|M98|M99|MAH|MAL|MAM|MAR|MAW|MBE|MBF|MBR|MC|MCU|
            |MD|MGM|MHZ|MIK|MIL|MIN|MIO|MIU|MLD|MLT|MMK|MMQ|MMT|MND|MON|MPA|MQH|MQS|MSK|MTK|MTQ|MTR|MTS|MVA|MWH|
            |N1|N10|N11|N12|N13|N14|N15|N16|N17|N18|N19|N20|N21|N22|N23|N24|N25|N26|N27|N28|N29|N3|
            |N30|N31|N32|N33|N34|N35|N36|N37|N38|N39|N40|N41|N42|N43|N44|N45|N46|N47|N48|N49|N50|N51|N52|N53|N54|N55|N56|N57|N58|N59|
            |N60|N61|N62|N63|N64|N65|N66|N67|N68|N69|N70|N71|N72|N73|N74|N75|N76|N77|N78|N79|N80|N81|N82|N83|N84|N85|N86|N87|N88|N89|
            |N90|N91|N92|N93|N94|N95|N96|N97|N98|N99|NA|NAR|NCL|NEW|NF|NIL|NIU|NL|NMI|NMP|NPT|NT|NU|NX|OA|ODE|OHM|ON|ONZ|OPM|OT|
            |OZA|OZI|P1|P10|P11|P12|P13|P14|P15|P16|P17|P18|P19|P2|P20|P21|P22|P23|P24|P25|P26|P27|P28|P29|P30|P31|P32|P33|P34|P35|P36|P37|P38|P39|
            |P40|P41|P42|P43|P44|P45|P46|P47|P48|P49|P5|P50|P51|P52|P53|P54|P55|P56|P57|P58|P59|P60|P61|P62|P63|P64|P65|P66|P67|P68|P69|
            |P70|P71|P72|P73|P74|P75|P76|P77|P78|P79|P80|P81|P82|P83|P84|P85|P86|P87|P88|P89|P90|P91|P92|P93|P94|P95|P96|P97|P98|P99|
            |PAL|PD|PFL|PGL|PI|PLA|PO|PQ|PR|PS|PTD|PTI|PTL|PTN|Q10|Q11|Q12|Q13|Q14|Q15|Q16|Q17|Q18|Q19|Q20|Q21|Q22|Q23|Q24|Q25|Q26|Q27|Q28|Q29|
            |Q3|Q30|Q31|Q32|Q33|Q34|Q35|Q36|QA|QAN|QB|QR|QTD|QTI|QTL|QTR|R1|R9|RH|RM|ROM|RP|RPM|RPS|RT|S3|S4|SAN|SCO|SCR|SEC|SET|SG|SIE|SMI|
            |SQ|SQR|SR|STC|STI|STK|STL|STN|STW|SW|SX|SYR|T0|T3|TAH|TAN|TI|TIC|TIP|TKM|TMS|TNE|TP|TPI|TPR|TQD|TRL|TST|TTS|U1|U2|UB|UC|VA|VLT|
            |VP|W2|WA|WB|WCD|WE|WEB|WEE|WG|WHR|WM|WSD|WTT|X1|X1A|X1B|X1D|X1F|X1G|X1W|X2C|X3A|X3H|X43|X44|X4A|X4B|X4C|X4D|X4F|X4G|X4H|
            |X5H|X5L|X5M|X6H|X6P|X7A|X7B|X8A|X8B|X8C|XAA|XAB|XAC|XAD|XAE|XAF|XAG|XAH|XAI|XAJ|XAL|XAM|XAP|XAT|XAV|
            |XB4|XBA|XBB|XBC|XBD|XBE|XBF|XBG|XBH|XBI|XBJ|XBK|XBL|XBM|XBN|XBO|XBP|XBQ|XBR|XBS|XBT|XBU|XBV|XBW|XBX|XBY|XBZ|
            |XCA|XCB|XCC|XCD|XCE|XCF|XCG|XCH|XCI|XCJ|XCK|XCL|XCM|XCN|XCO|XCP|XCQ|XCR|XCS|XCT|XCU|XCV|XCW|XCX|XCY|XCZ|
            |XDA|XDB|XDC|XDG|XDH|XDI|XDJ|XDK|XDL|XDM|XDN|XDP|XDR|XDS|XDT|XDU|XDV|XDW|XDX|XDY|XEC|XED|XEE|XEF|XEG|XEH|XEI|XEN|
            |XFB|XFC|XFD|XFE|XFI|XFL|XFO|XFP|XFR|XFT|XFW|XFX|XGB|XGI|XGL|XGR|XGU|XGY|XGZ|XHA|XHB|XHC|XHG|XHN|XHR|
            |XIA|XIB|XIC|XID|XIE|XIF|XIG|XIH|XIK|XIL|XIN|XIZ|XJB|XJC|XJG|XJR|XJT|XJY|XKG|XKI|XLE|XLG|XLT|XLU|XLV|XLZ|
            |XMA|XMB|XMC|XME|XMR|XMS|XMT|XMW|XMX|XNA|XNE|XNF|XNG|XNS|XNT|XNU|XNV|XOA|XOB|XOC|XOD|XOE|XOF|XOK|XOT|XOU|
            |XP2|XPA|XPB|XPC|XPD|XPE|XPF|XPG|XPH|XPI|XPJ|XPK|XPL|XPN|XPO|XPP|XPR|XPT|XPU|XPV|XPX|XPY|XPZ|
            |XQA|XQB|XQC|XQD|XQF|XQG|XQH|XQJ|XQK|XQL|XQM|XQN|XQP|XQQ|XQR|XQS|XRD|XRG|XRJ|XRK|XRL|XRO|XRT|XRZ|
            |XSA|XSB|XSC|XSD|XSE|XSH|XSI|XSK|XSL|XSM|XSO|XSP|XSS|XST|XSU|XSV|XSW|XSY|XSZ|
            |XT1|XTB|XTC|XTD|XTE|XTG|XTI|XTK|XTL|XTN|XTO|XTR|XTS|XTT|XTU|XTV|XTW|XTY|XTZ|XUC|XUN|XVA|XVG|XVI|XVK|XVL|XVN|XVO|XVP|XVQ|XVR|XVS|XVY|
            |XWA|XWB|XWC|XWD|XWF|XWG|XWH|XWJ|XWK|XWL|XWM|XWN|XWP|XWQ|XWR|XWS|XWT|XWU|XWV|XWW|XWX|XWY|XWZ|XXA|XXB|XXC|XXD|XXF|XXG|XXH|XXJ|XXK|
            |XYA|XYB|XYC|XYD|XYF|XYG|XYH|XYJ|XYK|XYL|XYM|XYN|XYP|XYQ|XYR|XYS|XYT|XYV|XYW|XYX|XYY|XYZ|
            |XZA|XZB|XZC|XZD|XZF|XZG|XZH|XZJ|XZK|XZL|XZM|XZN|XZP|XZQ|XZR|XZS|XZT|XZU|XZV|XZW|XZX|XZY|XZZ|
            |YDK|YDQ|YRD|Z11|ZP|ZZ|
            |DBM|DBW|FNU|HAD|HMO|HWE|IUG|KWN|KWS|KWY|MKD|MKM|MKW|MNJ|MQD|MQM|MQW|MRD|MRM|MRW|MTZ|NM3|NTU|ODG|
            |ODK|ODM|Q37|Q38|Q39|Q40|Q41|Q42|SM3|XO1|XO2|XO3|XO4|XO5|XO6|XO7|XO8|XO9|XOG|XOH|XOI|XOJ|XOL|XOM|
            |XON|XOP|XOQ|XOR|XOS|XOV|XOW|XOX|XOY|XOZ|XP1|XP3|XP4|XSX|Z9)"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="izuzecePdv">
        <xsd:annotation>
            <xsd:documentation>Razlog za izuzeće iznosa od PDV-a po VATEX.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="VATEX-EU-79-C"/>
            <xsd:enumeration value="vatex-eu-79-c"/>
            <xsd:enumeration value="VATEX-EU-132"/>
            <xsd:enumeration value="vatex-eu-132"/>
            <xsd:enumeration value="VATEX-EU-132-1A"/>
            <xsd:enumeration value="vatex-eu-132-1a"/>
            <xsd:enumeration value="VATEX-EU-132-1B"/>
            <xsd:enumeration value="vatex-eu-132-1b"/>
            <xsd:enumeration value="VATEX-EU-132-1C"/>
            <xsd:enumeration value="vatex-eu-132-1c"/>
            <xsd:enumeration value="VATEX-EU-132-1D"/>
            <xsd:enumeration value="vatex-eu-132-1d"/>
            <xsd:enumeration value="VATEX-EU-132-1E"/>
            <xsd:enumeration value="vatex-eu-132-1e"/>
            <xsd:enumeration value="VATEX-EU-132-1F"/>
            <xsd:enumeration value="vatex-eu-132-1f"/>
            <xsd:enumeration value="VATEX-EU-132-1G"/>
            <xsd:enumeration value="vatex-eu-132-1g"/>
            <xsd:enumeration value="VATEX-EU-132-1H"/>
            <xsd:enumeration value="vatex-eu-132-1h"/>
            <xsd:enumeration value="VATEX-EU-132-1I"/>
            <xsd:enumeration value="vatex-eu-132-1i"/>
            <xsd:enumeration value="VATEX-EU-132-1J"/>
            <xsd:enumeration value="vatex-eu-132-1j"/>
            <xsd:enumeration value="VATEX-EU-132-1K"/>
            <xsd:enumeration value="vatex-eu-132-1k"/>
            <xsd:enumeration value="VATEX-EU-132-1L"/>
            <xsd:enumeration value="vatex-eu-132-1l"/>
            <xsd:enumeration value="VATEX-EU-132-1M"/>
            <xsd:enumeration value="vatex-eu-132-1m"/>
            <xsd:enumeration value="VATEX-EU-132-1N"/>
            <xsd:enumeration value="vatex-eu-132-1n"/>
            <xsd:enumeration value="VATEX-EU-132-1O"/>
            <xsd:enumeration value="vatex-eu-132-1o"/>
            <xsd:enumeration value="VATEX-EU-132-1P"/>
            <xsd:enumeration value="vatex-eu-132-1p"/>
            <xsd:enumeration value="VATEX-EU-132-1Q"/>
            <xsd:enumeration value="vatex-eu-132-1q"/>
            <xsd:enumeration value="VATEX-EU-143"/>
            <xsd:enumeration value="vatex-eu-143"/>
            <xsd:enumeration value="VATEX-EU-143-1A"/>
            <xsd:enumeration value="vatex-eu-143-1a"/>
            <xsd:enumeration value="VATEX-EU-143-1B"/>
            <xsd:enumeration value="vatex-eu-143-1b"/>
            <xsd:enumeration value="VATEX-EU-143-1C"/>
            <xsd:enumeration value="vatex-eu-143-1c"/>
            <xsd:enumeration value="VATEX-EU-143-1D"/>
            <xsd:enumeration value="vatex-eu-143-1d"/>
            <xsd:enumeration value="VATEX-EU-143-1E"/>
            <xsd:enumeration value="vatex-eu-143-1e"/>
            <xsd:enumeration value="VATEX-EU-143-1F"/>
            <xsd:enumeration value="vatex-eu-143-1f"/>
            <xsd:enumeration value="VATEX-EU-143-1FA"/>
            <xsd:enumeration value="vatex-eu-143-1fa"/>
            <xsd:enumeration value="VATEX-EU-143-1G"/>
            <xsd:enumeration value="vatex-eu-143-1g"/>
            <xsd:enumeration value="VATEX-EU-143-1H"/>
            <xsd:enumeration value="vatex-eu-143-1h"/>
            <xsd:enumeration value="VATEX-EU-143-1I"/>
            <xsd:enumeration value="vatex-eu-143-1i"/>
            <xsd:enumeration value="VATEX-EU-143-1J"/>
            <xsd:enumeration value="vatex-eu-143-1j"/>
            <xsd:enumeration value="VATEX-EU-143-1K"/>
            <xsd:enumeration value="vatex-eu-143-1k"/>
            <xsd:enumeration value="VATEX-EU-143-1L"/>
            <xsd:enumeration value="vatex-eu-143-1l"/>
            <xsd:enumeration value="VATEX-EU-148"/>
            <xsd:enumeration value="vatex-eu-148"/>
            <xsd:enumeration value="VATEX-EU-148-A"/>
            <xsd:enumeration value="vatex-eu-148-a"/>
            <xsd:enumeration value="VATEX-EU-148-B"/>
            <xsd:enumeration value="vatex-eu-148-b"/>
            <xsd:enumeration value="VATEX-EU-148-C"/>
            <xsd:enumeration value="vatex-eu-148-c"/>
            <xsd:enumeration value="VATEX-EU-148-D"/>
            <xsd:enumeration value="vatex-eu-148-d"/>
            <xsd:enumeration value="VATEX-EU-148-E"/>
            <xsd:enumeration value="vatex-eu-148-e"/>
            <xsd:enumeration value="VATEX-EU-148-F"/>
            <xsd:enumeration value="vatex-eu-148-f"/>
            <xsd:enumeration value="VATEX-EU-148-G"/>
            <xsd:enumeration value="vatex-eu-148-g"/>
            <xsd:enumeration value="VATEX-EU-151"/>
            <xsd:enumeration value="vatex-eu-151"/>
            <xsd:enumeration value="VATEX-EU-151-1A"/>
            <xsd:enumeration value="vatex-eu-151-1a"/>
            <xsd:enumeration value="VATEX-EU-151-1AA"/>
            <xsd:enumeration value="vatex-eu-151-1aa"/>
            <xsd:enumeration value="VATEX-EU-151-1B"/>
            <xsd:enumeration value="vatex-eu-151-1b"/>
            <xsd:enumeration value="VATEX-EU-151-1C"/>
            <xsd:enumeration value="vatex-eu-151-1c"/>
            <xsd:enumeration value="VATEX-EU-151-1D"/>
            <xsd:enumeration value="vatex-eu-151-1d"/>
            <xsd:enumeration value="VATEX-EU-151-1E"/>
            <xsd:enumeration value="vatex-eu-151-1e"/>
            <xsd:enumeration value="VATEX-EU-309"/>
            <xsd:enumeration value="vatex-eu-309"/>
            <xsd:enumeration value="VATEX-EU-AE"/>
            <xsd:enumeration value="vatex-eu-ae"/>
            <xsd:enumeration value="VATEX-EU-D"/>
            <xsd:enumeration value="vatex-eu-d"/>
            <xsd:enumeration value="VATEX-EU-F"/>
            <xsd:enumeration value="vatex-eu-f"/>
            <xsd:enumeration value="VATEX-EU-G"/>
            <xsd:enumeration value="vatex-eu-g"/>
            <xsd:enumeration value="VATEX-EU-I"/>
            <xsd:enumeration value="vatex-eu-i"/>
            <xsd:enumeration value="VATEX-EU-IC"/>
            <xsd:enumeration value="vatex-eu-ic"/>
            <xsd:enumeration value="VATEX-EU-J"/>
            <xsd:enumeration value="vatex-eu-j"/>
            <xsd:enumeration value="VATEX-EU-O"/>
            <xsd:enumeration value="vatex-eu-o"/>
            <xsd:enumeration value="VATEX-FR-FRANCHISE"/>
            <xsd:enumeration value="vatex-fr-franchise"/>
            <xsd:enumeration value="VATEX-FR-CNWVAT"/>
            <xsd:enumeration value="vatex-fr-cnwvat"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="valuta">
        <xsd:annotation>
            <xsd:documentation>Oznaka valute po ISO 4217.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}"/>
            <xsd:enumeration value="AED"/>
            <xsd:enumeration value="AFN"/>
            <xsd:enumeration value="ALL"/>
            <xsd:enumeration value="AMD"/>
            <xsd:enumeration value="ANG"/>
            <xsd:enumeration value="AOA"/>
            <xsd:enumeration value="ARS"/>
            <xsd:enumeration value="AUD"/>
            <xsd:enumeration value="AWG"/>
            <xsd:enumeration value="AZN"/>
            <xsd:enumeration value="BAM"/>
            <xsd:enumeration value="BBD"/>
            <xsd:enumeration value="BDT"/>
            <xsd:enumeration value="BGN"/>
            <xsd:enumeration value="BHD"/>
            <xsd:enumeration value="BIF"/>
            <xsd:enumeration value="BMD"/>
            <xsd:enumeration value="BND"/>
            <xsd:enumeration value="BOB"/>
            <xsd:enumeration value="BOV"/>
            <xsd:enumeration value="BRL"/>
            <xsd:enumeration value="BSD"/>
            <xsd:enumeration value="BTN"/>
            <xsd:enumeration value="BWP"/>
            <xsd:enumeration value="BYN"/>
            <xsd:enumeration value="BZD"/>
            <xsd:enumeration value="CAD"/>
            <xsd:enumeration value="CDF"/>
            <xsd:enumeration value="CHE"/>
            <xsd:enumeration value="CHF"/>
            <xsd:enumeration value="CHW"/>
            <xsd:enumeration value="CLF"/>
            <xsd:enumeration value="CLP"/>
            <xsd:enumeration value="CNY"/>
            <xsd:enumeration value="COP"/>
            <xsd:enumeration value="COU"/>
            <xsd:enumeration value="CRC"/>
            <xsd:enumeration value="CUC"/>
            <xsd:enumeration value="CUP"/>
            <xsd:enumeration value="CVE"/>
            <xsd:enumeration value="CZK"/>
            <xsd:enumeration value="DJF"/>
            <xsd:enumeration value="DKK"/>
            <xsd:enumeration value="DOP"/>
            <xsd:enumeration value="DZD"/>
            <xsd:enumeration value="EGP"/>
            <xsd:enumeration value="ERN"/>
            <xsd:enumeration value="ETB"/>
            <xsd:enumeration value="EUR"/>
            <xsd:enumeration value="FJD"/>
            <xsd:enumeration value="FKP"/>
            <xsd:enumeration value="GBP"/>
            <xsd:enumeration value="GEL"/>
            <xsd:enumeration value="GHS"/>
            <xsd:enumeration value="GIP"/>
            <xsd:enumeration value="GMD"/>
            <xsd:enumeration value="GNF"/>
            <xsd:enumeration value="GTQ"/>
            <xsd:enumeration value="GYD"/>
            <xsd:enumeration value="HKD"/>
            <xsd:enumeration value="HNL"/>
            <xsd:enumeration value="HRK"/>
            <xsd:enumeration value="HTG"/>
            <xsd:enumeration value="HUF"/>
            <xsd:enumeration value="IDR"/>
            <xsd:enumeration value="ILS"/>
            <xsd:enumeration value="INR"/>
            <xsd:enumeration value="IQD"/>
            <xsd:enumeration value="IRR"/>
            <xsd:enumeration value="ISK"/>
            <xsd:enumeration value="JMD"/>
            <xsd:enumeration value="JOD"/>
            <xsd:enumeration value="JPY"/>
            <xsd:enumeration value="KES"/>
            <xsd:enumeration value="KGS"/>
            <xsd:enumeration value="KHR"/>
            <xsd:enumeration value="KMF"/>
            <xsd:enumeration value="KPW"/>
            <xsd:enumeration value="KRW"/>
            <xsd:enumeration value="KWD"/>
            <xsd:enumeration value="KYD"/>
            <xsd:enumeration value="KZT"/>
            <xsd:enumeration value="LAK"/>
            <xsd:enumeration value="LBP"/>
            <xsd:enumeration value="LKR"/>
            <xsd:enumeration value="LRD"/>
            <xsd:enumeration value="LSL"/>
            <xsd:enumeration value="LYD"/>
            <xsd:enumeration value="MAD"/>
            <xsd:enumeration value="MDL"/>
            <xsd:enumeration value="MGA"/>
            <xsd:enumeration value="MKD"/>
            <xsd:enumeration value="MMK"/>
            <xsd:enumeration value="MNT"/>
            <xsd:enumeration value="MOP"/>
            <xsd:enumeration value="MRU"/>
            <xsd:enumeration value="MUR"/>
            <xsd:enumeration value="MVR"/>
            <xsd:enumeration value="MWK"/>
            <xsd:enumeration value="MXN"/>
            <xsd:enumeration value="MXV"/>
            <xsd:enumeration value="MYR"/>
            <xsd:enumeration value="MZN"/>
            <xsd:enumeration value="NAD"/>
            <xsd:enumeration value="NGN"/>
            <xsd:enumeration value="NIO"/>
            <xsd:enumeration value="NOK"/>
            <xsd:enumeration value="NPR"/>
            <xsd:enumeration value="NZD"/>
            <xsd:enumeration value="OMR"/>
            <xsd:enumeration value="PAB"/>
            <xsd:enumeration value="PEN"/>
            <xsd:enumeration value="PGK"/>
            <xsd:enumeration value="PHP"/>
            <xsd:enumeration value="PKR"/>
            <xsd:enumeration value="PLN"/>
            <xsd:enumeration value="PYG"/>
            <xsd:enumeration value="QAR"/>
            <xsd:enumeration value="RON"/>
            <xsd:enumeration value="RSD"/>
            <xsd:enumeration value="RUB"/>
            <xsd:enumeration value="RWF"/>
            <xsd:enumeration value="SAR"/>
            <xsd:enumeration value="SBD"/>
            <xsd:enumeration value="SCR"/>
            <xsd:enumeration value="SDG"/>
            <xsd:enumeration value="SEK"/>
            <xsd:enumeration value="SGD"/>
            <xsd:enumeration value="SHP"/>
            <xsd:enumeration value="SLE"/>
            <xsd:enumeration value="SLL"/>
            <xsd:enumeration value="SOS"/>
            <xsd:enumeration value="SRD"/>
            <xsd:enumeration value="SSP"/>
            <xsd:enumeration value="STN"/>
            <xsd:enumeration value="SVC"/>
            <xsd:enumeration value="SYP"/>
            <xsd:enumeration value="SZL"/>
            <xsd:enumeration value="THB"/>
            <xsd:enumeration value="TJS"/>
            <xsd:enumeration value="TMT"/>
            <xsd:enumeration value="TND"/>
            <xsd:enumeration value="TOP"/>
            <xsd:enumeration value="TRY"/>
            <xsd:enumeration value="TTD"/>
            <xsd:enumeration value="TWD"/>
            <xsd:enumeration value="TZS"/>
            <xsd:enumeration value="UAH"/>
            <xsd:enumeration value="UGX"/>
            <xsd:enumeration value="USD"/>
            <xsd:enumeration value="USN"/>
            <xsd:enumeration value="UYI"/>
            <xsd:enumeration value="UYU"/>
            <xsd:enumeration value="UYW"/>
            <xsd:enumeration value="UZS"/>
            <xsd:enumeration value="VES"/>
            <xsd:enumeration value="VND"/>
            <xsd:enumeration value="VUV"/>
            <xsd:enumeration value="WST"/>
            <xsd:enumeration value="XAF"/>
            <xsd:enumeration value="XAG"/>
            <xsd:enumeration value="XAU"/>
            <xsd:enumeration value="XBA"/>
            <xsd:enumeration value="XBB"/>
            <xsd:enumeration value="XBC"/>
            <xsd:enumeration value="XBD"/>
            <xsd:enumeration value="XCD"/>
            <xsd:enumeration value="XDR"/>
            <xsd:enumeration value="XOF"/>
            <xsd:enumeration value="XPD"/>
            <xsd:enumeration value="XPF"/>
            <xsd:enumeration value="XPT"/>
            <xsd:enumeration value="XSU"/>
            <xsd:enumeration value="XTS"/>
            <xsd:enumeration value="XUA"/>
            <xsd:enumeration value="XXX"/>
            <xsd:enumeration value="YER"/>
            <xsd:enumeration value="ZAR"/>
            <xsd:enumeration value="ZMW"/>
            <xsd:enumeration value="ZWL"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="vrstaDokumenta">
        <xsd:annotation>
            <xsd:documentation>Vrsta dokumenata po UNTDID 1001.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="71"/>
            <xsd:enumeration value="80"/>
            <xsd:enumeration value="81"/>
            <xsd:enumeration value="82"/>
            <xsd:enumeration value="83"/>
            <xsd:enumeration value="84"/>
            <xsd:enumeration value="102"/>
            <xsd:enumeration value="130"/>
            <xsd:enumeration value="202"/>
            <xsd:enumeration value="203"/>
            <xsd:enumeration value="204"/>
            <xsd:enumeration value="211"/>
            <xsd:enumeration value="218"/>
            <xsd:enumeration value="219"/>
            <xsd:enumeration value="261"/>
            <xsd:enumeration value="262"/>
            <xsd:enumeration value="295"/>
            <xsd:enumeration value="296"/>
            <xsd:enumeration value="308"/>
            <xsd:enumeration value="325"/>
            <xsd:enumeration value="326"/>
            <xsd:enumeration value="331"/>
            <xsd:enumeration value="380"/>
            <xsd:enumeration value="381"/>
            <xsd:enumeration value="382"/>
            <xsd:enumeration value="383"/>
            <xsd:enumeration value="384"/>
            <xsd:enumeration value="385"/>
            <xsd:enumeration value="386"/>
            <xsd:enumeration value="387"/>
            <xsd:enumeration value="388"/>
            <xsd:enumeration value="389"/>
            <xsd:enumeration value="390"/>
            <xsd:enumeration value="393"/>
            <xsd:enumeration value="394"/>
            <xsd:enumeration value="395"/>
            <xsd:enumeration value="396"/>
            <xsd:enumeration value="420"/>
            <xsd:enumeration value="456"/>
            <xsd:enumeration value="457"/>
            <xsd:enumeration value="458"/>
            <xsd:enumeration value="527"/>
            <xsd:enumeration value="532"/>
            <xsd:enumeration value="553"/>
            <xsd:enumeration value="575"/>
            <xsd:enumeration value="623"/>
            <xsd:enumeration value="633"/>
            <xsd:enumeration value="751"/>
            <xsd:enumeration value="780"/>
            <xsd:enumeration value="817"/>
            <xsd:enumeration value="870"/>
            <xsd:enumeration value="875"/>
            <xsd:enumeration value="876"/>
            <xsd:enumeration value="877"/>
            <xsd:enumeration value="935"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="nacinPlacanja">
        <xsd:annotation>
            <xsd:documentation>Šifra načina plaćanja.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="T">
                <xsd:annotation>
                    <xsd:documentation>Transakcijski račun</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="O">
                <xsd:annotation>
                    <xsd:documentation>Obračunsko plaćanje</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Z">
                <xsd:annotation>
                    <xsd:documentation>Ostalo</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="kategorijaPdv">
        <xsd:annotation>
            <xsd:documentation>Oznaka kategorije PDV-a po UNTIDID5305.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="O"/>
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="AE"/>
            <xsd:enumeration value="Z"/>
            <xsd:enumeration value="K"/>
            <xsd:enumeration value="G"/>
            <xsd:enumeration value="L"/>
            <xsd:enumeration value="M"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="klasifikacijaArtikla">
        <xsd:annotation>
            <xsd:documentation>Šifrarnik klasifikacije artikla po njegovom tipu ili prirodi po UNTDID7143.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CG"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="hrKategorijaPdv">
        <xsd:annotation>
            <xsd:documentation>Oznaka Hrvatske kategorije PDV-a.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HR:PDV25"/>
            <xsd:enumeration value="HR:PDV13"/>
            <xsd:enumeration value="HR:PDV5"/>
            <xsd:enumeration value="HR:Z"/>
            <xsd:enumeration value="HR:K"/>
            <xsd:enumeration value="HR:G"/>
            <xsd:enumeration value="HR:AE"/>
            <xsd:enumeration value="HR:E"/>
            <xsd:enumeration value="HR:POVNAK"/>
            <xsd:enumeration value="HR:PP"/>
            <xsd:enumeration value="HR:PPMV"/>
            <xsd:enumeration value="HR:O"/>
            <xsd:enumeration value="HR:N"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="razlogPopusta">
        <xsd:annotation>
            <xsd:documentation>Razlog za popust po UNTDID5189.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="64"/>
            <xsd:enumeration value="95"/>
            <xsd:enumeration value="100"/>
            <xsd:enumeration value="102"/>
            <xsd:enumeration value="103"/>
            <xsd:enumeration value="104"/>
            <xsd:enumeration value="105"/>
            <xsd:enumeration value="106"/>
            <xsd:enumeration value="109"/>
            <xsd:enumeration value="98"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="OIBTip">
        <xsd:annotation>
            <xsd:documentation>OIB.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst10">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 10 znaka.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst100">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 100 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst200">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 200 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="200"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst500">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 500 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="500"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst1024">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 1024 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1024"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tekst4096">
        <xsd:annotation>
            <xsd:documentation>Tekst od 1 do 1024 znakova.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4096"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal2">
        <xsd:annotation>
            <xsd:documentation>Decimalni broj s dvije decimale.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20"/>
            <xsd:fractionDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="decimal30i10">
        <xsd:annotation>
            <xsd:documentation>Decimalni broj ukupno 30 znakova a od toga deset decimala.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="30"/>
            <xsd:fractionDigits value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="greska">
        <xsd:annotation>
            <xsd:documentation>Sifrarnik gresaka odgovora.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="S001"><xsd:annotation><xsd:documentation>Sistemska greška prilikom obrade zahtjeva</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S002"><xsd:annotation><xsd:documentation>Lokacija potpisa nije ispravna</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S003"><xsd:annotation><xsd:documentation>Certifikat nije izdan od davatelja usluga s Pouzdanog potpisa, ili je istekao ili je ukinut</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S004"><xsd:annotation><xsd:documentation>Neispravan potpis zahtjeva</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S005"><xsd:annotation><xsd:documentation>Poruka nije u skladu s XML shemom : #element ili lista elemenata koji nisu ispravni po shemi</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S006"><xsd:annotation><xsd:documentation>Pristupna tocka nije ovlaštena za dostavu podataka</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S007"><xsd:annotation><xsd:documentation>OIB iz zahtjeva nije formalno ispravan: #vrijednost OIB-a iz upita</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S008"><xsd:annotation><xsd:documentation>Već postoji zabilježen eRačun s istim identifikatorom</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S009"><xsd:annotation><xsd:documentation>Ne postoji zabilježen eRačun</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S010"><xsd:annotation><xsd:documentation>Već postoji zabilježen status odbijanja eRačuna s istim identifikatorom</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S011"><xsd:annotation><xsd:documentation>OIB iz zahtjeva nije jedinstven u listi</xsd:documentation></xsd:annotation></xsd:enumeration>
            <xsd:enumeration value="S012"><xsd:annotation><xsd:documentation>Ne postoji evidentiran originalni eRačun za koji je dostavljen ispravljeni eRačun</xsd:documentation></xsd:annotation></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>